// index.module.scss

.dropdownContainer {
  position: relative;
  width: 360px;
  height: 40px;
  margin: 36px 0;

  // padding: 6px;
  .dropdownHeader {
    cursor: pointer;
    padding: 10px;
    border: 1px solid var(--gray-200);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 4px;

    div {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 4px;
      img {
        width: 24px;
        height: 24px;
      }
      p {
        margin: 0;
        font-size: 13px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--text-color);
      }
    }
  }
}

.dropdownList {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border: 1px solid var(--gray-200);
  background-color: var(--background-color);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  display: none;
  z-index: 1;
  a {
    text-decoration: none;
  }
  li {
    width: 100%;
    height: 40px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 8px 16px;
    gap: 4px;
    img {
      width: 24px;
      height: 24px;
    }
    p {
      margin: 0;
      font-size: 13px;
      font-weight: 500;
      line-height: 20px;
      letter-spacing: 0em;
      text-align: left;
      color: var(--text-color);
    }
  }
  li:hover {
    background-color: var(--primary-1);
    p {
      color: black;
    }
  }
}

.dropdownContainer .dropdownList {
  display: block;
}

.roadmap {
  h1 {
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--ifm-color-content-light);
    margin-bottom: 16px;

    span {
      text-transform: uppercase;
    }
  }

  p {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
    color: var(--text-color);
    text-align: justify;
    margin-bottom: 56px;
  }
  .RoadmapSection::-webkit-scrollbar {
    width: 5px;
  }
  .RoadmapSection::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  .RoadmapSection::-webkit-scrollbar-thumb {
    background: #888;
  }
  .RoadmapSection::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  .RoadmapSection {
    margin-top: 25px;
    // background-color: yellow;
    display: flex;
    justify-content: space-between;
    align-content: center;
    transform: rotateX(180deg);
    overflow-x: auto;
    gap: 16px;
    border-right: transparent;
    padding-right: 10px;
    // border-left: 1px solid var(--gray-200);
    .section {
      margin: 20px 0;
      transform: rotateX(180deg);
      padding: 16px;
      border: 1px solid var(--gray-200);
      width: 100%;
      display: flex;
      flex-direction: column;
      height: auto;
      gap: 8px;
      min-height: 400px;
      min-width: 350px;

      .sectionDescription {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin: 0;

        .titleLine {
          display: flex;
          flex-direction: column;
          gap: 8px;
          align-items: flex-start;
          h4 {
            margin: 0;
            padding: 0;
            font-size: 18px;
            font-weight: 700;
            line-height: 26px;
            letter-spacing: 0px;
            text-align: left;
            display: flex;
            align-items: center;
            gap: 8px;
            .featureCount {
              background-color: #eef8ff;
              color: #007bff;
              font-size: 12px;
              font-weight: 600;
              padding: 2px 8px;
              border-radius: 12px;
              line-height: 1.5;
            }
          }
          p {
            margin: 0;
            padding: 0;
            font-size: 12px;
            line-height: 26px;
            letter-spacing: 0px;
            text-align: left;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 599px) {
  .roadmap .RoadmapSection {
    display: none;
  }
  .roadmap .RoadmapSectionMobile {
    display: block;
  }
  .dropdownHeader {
    width: 100%;
  }
}
@media screen and (min-width: 599px) {
  .roadmap .RoadmapSectionMobile {
    display: none;
  }
}

.roadmap .RoadmapSectionMobile {
  ul.tabItems {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 58px;
    border: 1px solid var(--gray-200);
    .listTabItems {
      display: flex;
      align-items: center;
      border: 1px solid var(--gray-200);
      flex-basis: 50%;
      height: 100%;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: var(--background-color);
      &:hover {
        background-color: var(--primary-1);
      }

      &.active {
        font-weight: 700;
        cursor: default;
        background-color: var(--hover);
        // color: var(--background-color);
        color: green;
      }
      li {
        margin: 0;
        font-size: 18px;
        font-weight: 700;
        display: flex;
        align-items: center;
        gap: 8px;
        line-height: 26px;
        letter-spacing: 0px;
        text-align: left;
        list-style: none;
        color: var(--text-color);
        cursor: pointer;
        .featureCount {
          background-color: #eef8ff;
          color: #007bff;
          font-size: 12px;
          font-weight: 600;
          padding: 2px 8px;
          border-radius: 12px;
          line-height: 1.5;
        }
      }
    }
  }

  .mobileRoadmapColumn {
    margin-right: 16px;
    padding: 16px;
    // background-color: var(--gray-50);
    border: 1px solid var(--gray-200);
    width: 100%;
    display: flex;
    flex-direction: column;
    height: auto;
    gap: 10px;
    min-height: 400px;
  }
}
