.main {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row wrap;
  gap: 16px;
}

.RoadmapSection {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;

  border: 2px solid #d9dae5;
  border-radius: 8px;
  padding: 16px;
  gap: 16px;
  .verticalLine {
    border-left: 2px solid #d9dae5;
  }
  .section {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: auto;
    min-height: 400px;
    .features {
      --ifm-link-color: var(--ifm-color-emphasis-800);
      --ifm-link-hover-color: var(--ifm-color-emphasis-700);
      --ifm-link-hover-decoration: none;

      box-shadow: 0 1.5px 3px 0 rgb(0 0 0 / 15%);
      border: 2px solid var(--ifm-color-emphasis-200);
      transition: all var(--ifm-transition-fast) ease;
      transition-property: border, box-shadow;
      border-radius: 8px;
      padding: 16px !important;
      min-height: 150px;
      width: 100%;
    }

    .sectionDescription {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin-bottom: 20px;
      i {
        margin-top: 5px;
      }
      .titleLine {
        margin: 0;
        padding: 0;
        h4 {
          margin: 0;
          padding: 0;
          font-size: 24px;
        }
      }
    }
  }
}
