.carousel {
  // background-color: tan;

  overflow: hidden;
  padding: 8px;
  width: 630px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  .twoCards {
    width: 615px;
    display: flex;
    gap: 15px;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.5s ease;
    flex: 1;
  }

  .isEvenCert > *:last-child {
    margin-left: 160px;

  }

  .indicator {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
    i {
      color: white;
    }
    i:hover {
      transform: scale(1.2);
    }
    .dot {
      background-color: #333;
      width: 15px;
      height: 15px;
      border-radius: 50%;
    }
    .active {
      background-color: white !important;
    }
  }
}

.carouselMobile {
  display: none;
  overflow: hidden;
  padding: 8px;
  width: 320px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  .cards {
    width: 310px;
    display: flex;
    gap: 15px;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.5s ease;
  }
  .indicator {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
    i {
      color: white;
    }
    i:hover {
      transform: scale(1.2);
    }
    .dot {
      background-color: #333;
      width: 15px;
      height: 15px;
      border-radius: 50%;
    }
    .active {
      background-color: white !important;
    }
  }
}

@media screen and (max-width: 650px) {
  .carousel {
    display: none;
  }
  .carouselMobile {
    display: flex;
  }
  // .twoCards > *:last-child {
  //   margin-left: 0px;
  // }
}
