.spaceBetween{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.tutorialCard{
    border-radius: 8px;
    box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.04), 0px 2px 4px rgba(96, 97, 112, 0.16);
    padding: 24px;
    margin: 0 0 30px 0;
    width: 30.5%;
    font-family: 'Inter';
    border: 3px solid transparent;
    position: relative;
    .ribbon{
        position: absolute;
        top: 24px;
        right: -3px;
        z-index: -1;
    }
    h6{
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        color: #6B6D85;
        img{
            width: 14px;
            margin-right: 13.5px;
        }
    }
    h4{
        a{
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            color: #000000;
        }        
    }
    p{
        font-weight: 400;
        font-size: 12px;
        font-family: 'Inter';
        color: #22222A;
    }
    ul.docTypes {
        display: flex;
        padding-left: 0;
        li {
          width: 24px;
          height: 24px;
          overflow: hidden;
          background-color: #F3F3FA;
          display: flex;
          justify-content: center;
          align-content: center;
          align-items: center;
          border-radius: 4px;
          margin: 0 4px 0 0;
          img {
            width: 16px;
            height: 16px;
          }
        }
      }
}
.ci:hover, .cd:hover, .ff:hover, .ccm:hover, .srm:hover, .sto:hover, .ce:hover{
    border: 3px solid;
    border-image-slice: 1;
    border-width: 3px;
}
.cd:hover{
    border-image-source: linear-gradient(to left, rgba(98, 249, 31, 1), rgba(69, 189, 53, 1));
}
.ci:hover{
    border-image-source: linear-gradient(to left, rgba(115, 223, 231, 1), rgba(0, 149, 247, 1));
}
.ff:hover{
    border-image-source: linear-gradient(to left, rgba(255, 193, 0, 1), rgba(230, 107, 53, 1));
}
.ccm:hover{
    border-image-source: linear-gradient(to left, rgba(0, 207, 222, 1), rgba(5, 166, 96, 1));
}
.srm:hover{
    border-image-source: linear-gradient(to left, rgba(190, 161, 255, 1), rgba(138, 54, 255, 1));
}
.sto:hover{
    border-image-source: linear-gradient(to left, rgba(71, 145, 255, 1), rgba(46, 28, 243, 1));
}
.ce:hover{
    border-image-source: linear-gradient(to left, rgba(255, 111, 171, 1), rgba(206, 0, 86, 1));
}
.allTutorials{
    .tutorialCard{
        width: 28%;
    }
    .featureCard{
        width: 46%;
    }
}
.getStartedCard{
    text-align: center;
    padding: 24px 40px;
    .docTypes{
        justify-content: center;
    }
    h4{
        margin-bottom: 7px;
    }
    p{
        margin-bottom: 50px;
    }
    a{
        color: #000000;
    }
    &.sto{
        h4{
            margin-right: 30px;
            margin-left: 30px;
        }
    }
}
.featureCard{
    border: 1px solid #D9DAE5;
    box-shadow: none;
    width: 48%;
    .ribbon{
        right: 0;
    }
}

// @media screen and (max-width: 996px) {
@media screen and (max-width: 768px) {
    .tutorialCard{
        width: 48%;
    }
}

@media screen and (max-width: 393px) {
    /* for mobile */
    .tutorialCard{
        width: unset;
    }
}