.breadCrumb{
    margin-top: 10px;
    list-style: none;
    display: flex;
    flex-direction: row;
    li{
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        color: #22222A;
        padding-right: 10px;
        &::after{
            top: 0;
            right: 0;
            content: '>';
            padding-left: 10px;
        }
    }
}
.getStarted{
    h1{
        font-size: 32px;
    }
    padding-bottom: 30px;
}
.SectionName{
    h3{
        font-family: 'Inter';
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        color: #000000;
    }
}
.topSection{
    border-bottom: 1px solid #D9DAE5;
    margin-bottom: 3.5rem;
    padding-bottom: 3.5rem;
    h1{
        font-size: 32px;
    }
    .moduleTitle{
        display: flex;
        align-items: center;
        margin-bottom: 36px;
        img{
            padding-right: 10px;
        }
        h1{
            margin-bottom: 0;
        }
    }
    p{
        font-family: 'Inter'; 
        font-weight: 400;
        font-size: 18px;
        line-height: 26px;
        color: #000000;
    }
    .ff_img{
        margin: 56px 0;
    }
}
.content{
    width: 50%;
}
.spaceBetween{
    display: flex;
    justify-content: space-between;
}
.alignCenter{
    display: flex;
    align-items: center;
    h1{
        margin-bottom: 0;
    }
}
.link{
    background: transparent;
    border: none;
    color: #0278D5;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin-left: 32px;
    cursor: pointer;
    &:hover {
        text-decoration: underline;
        color: var(--primary-8);
    }
}
.btn{
    color: white;
    border-radius: 4px;
    padding-right: 18px;
    padding-left: 18px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}
.btnLight{
    background: #F3F3FA;
    border: 1px solid #B0B1C4;
    color: #22222A;
    align-items: center;
    display: flex;
    img{
        padding-right: 10px;
    }
    &:hover {
        // color: var(--black)
        color: var(--primary-7);
    }
}
.btnCD{
    background: #5FB34E;
    border-color: #5FB34E;
    img{
        padding-left: 10px;
    }
}
.btnCI{
    background: #2BB1F2;
    border-color: #2BB1F2;
    img{
        padding-left: 10px;
    }
}
.btnFF{
    background: #EE8625;
    border-color: #EE8625;
    img{
        padding-left: 10px;
    }
}
.btnCCM{
    background: #01C9CC;
    border-color: #01C9CC;
    img{
        padding-left: 10px;
    }
}
.btnSRM{
    background: #AE82FC;
    border-color: #AE82FC;
    img{
        padding-left: 10px;
    }
}
.btnSTO{
    background: #4791FF;
    border-color: #4791FF;
    img{
        padding-left: 10px;
    }
}
.btnCE{
    background: #FF006A;
    border-color: #FF006A;
    img{
        padding-left: 10px;
    }
}
.subSection{
    margin-top: 36px;
    .SectionName{
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        h3{
            font-family: 'Inter';
            font-weight: 500;
            font-size: 18px;
            line-height: 13px;
            letter-spacing: 4px;
            text-transform: uppercase;
            color: #000000;
            margin-bottom: 0;
        }
        img{
            width: 20px;
            margin-right: 18px;
        }
    }
    h3{
        font-weight: 600;
        font-size: 20px;
        line-height: 28px;
        color: #22222A;
    }    
}

// @media screen and (max-width: 996px) {
@media screen and (max-width: 768px) {
    .spaceBetween {
        flex-flow: column wrap;
        .content {
            width: 100%;
            margin: 2em 0;
            & > p {
                text-align: left;
            }
            .alignCenter {
                display: flex;
                justify-content: center;
            }
        }
        .moduleTitle+div {
            display: flex;
            justify-content: center;
        }
        // & > div:nth-child(2) {
        & > div {
            text-align: center;
        }
    }
}

@media screen and (max-width: 393px) {
/* for mobile */
    .topSection {
        h1{
            font-size: 22px;
            line-height: 110%;
            text-align: left;
        }
    }
    .btn {
        padding-right: 26px;
    }
}