# HDH Codeowners file.
# Created October 2023 - https://harness.atlassian.net/browse/HDH-189
# Applies to Repository Structure, not URL per-se.
# Learn more at: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global Owners of the HDH Repository
*       prateek.mittal@harness.io wei.guo@harness.io vikram.sahu@harness.io richard.black@harness.io

# Configuration Files in DS are JS.
*.js    wei.guo@harness.io rohan.maharjan@harness.io vikram.sahu@harness.io richard.black@harness.io austin.lai@harness.io
*.ts    wei.guo@harness.io rohan.maharjan@harness.io vikram.sahu@harness.io richard.black@harness.io austin.lai@harness.io
*.jsx    wei.guo@harness.io rohan.maharjan@harness.io vikram.sahu@harness.io richard.black@harness.io austin.lai@harness.io
*.tsx    wei.guo@harness.io rohan.maharjan@harness.io vikram.sahu@harness.io richard.black@harness.io austin.lai@harness.io

# Changes to Lock File
*.lock  wei.guo@harness.io

# Changes to Config Files
*.ini  wei.guo@harness.io vikram.sahu@harness.io richard.black@harness.io
*.json  wei.guo@harness.io vikram.sahu@harness.io richard.black@harness.io
*.toml  wei.guo@harness.io vikram.sahu@harness.io richard.black@harness.io
*ignore wei.guo@harness.io vikram.sahu@harness.io richard.black@harness.io
/_server-redirect wei.guo@harness.io vikram.sahu@harness.io richard.black@harness.io

# Changes to Netlify Files
/netlify/ wei.guo@harness.io richard.black@harness.io

# Contributing
CONTRIBUTING.md prateek.mittal@harness.io vikram.sahu@harness.io richard.black@harness.io
README.md prateek.mittal@harness.io vikram.sahu@harness.io richard.black@harness.io
/docs/hdh/ prateek.mittal@harness.io vikram.sahu@harness.io richard.black@harness.io

# University
/university/ ravi.lachhman@harness.io
/src/components/HomepageUniversity/ ravi.lachhman@harness.io
/src/components/University/ ravi.lachhman@harness.io

# Community
/community/ ompragash.viswanathan@harness.io dewan.ahmed@harness.io

# Redirect Archives
/archive/  prateek.mittal@harness.io wei.guo@harness.io

# Documentation ###

# All Static files (images etc.)
static/  rohan.maharjan@harness.io wei.guo@harness.io

# All Data files - Please add global reviewers who are familiar with js/ts
# data/*.ts @global-data-file-owners

# Continuous Delivery Docs
/docs/continuous-delivery/ vishal.vishwaroop@harness.io @pranaykaikini @prasadsatamharness rohan.gupta@harness.io @SudarshanPurohit siddhant.dua@harness.io anshul@harness.io
/release-notes/continuous-delivery.md vishal.vishwaroop@harness.io @pranaykaikini @prasadsatamharness rohan.gupta@harness.io @SudarshanPurohit siddhant.dua@harness.io anshul@harness.io
/src/components/Roadmap/data/cdData.ts vishal.vishwaroop@harness.io rohan.gupta@harness.io @SudarshanPurohit siddhant.dua@harness.io anshul@harness.io
/src/components/Docs/data/continuousDeliveryData* vishal.vishwaroop@harness.io rohan.gupta@harness.io @SudarshanPurohit siddhant.dua@harness.io anshul@harness.io
# FirstGen CD Docs
/docs/category/continuous-delivery/ vishal.vishwaroop@harness.io rohan.gupta@harness.io siddhant.dua@harness.io anshul@harness.io
# CD FAQs
/docs/faqs/continuous-delivery-faqs vishal.vishwaroop@harness.io @SudarshanPurohit siddhant.dua@harness.io anshul@harness.io
# GitEx FAQs
/docs/faqs/git-exp-vs-config-as-code/ vishal.vishwaroop@harness.io @SudarshanPurohit siddhant.dua@harness.io anshul@harness.io


# Continuous Integration Docs
/docs/continuous-integration/ nofar.bluestein@harness.io shivkumar.loka@harness.io ompragash.viswanathan@harness.io
/release-notes/continuous-integration.md nofar.bluestein@harness.io shivkumar.loka@harness.io ompragash.viswanathan@harness.io
/src/components/Roadmap/data/ciData.ts nofar.bluestein@harness.io shivkumar.loka@harness.io ompragash.viswanathan@harness.io
/src/components/Docs/data/continuousIntegrationData.ts nofar.bluestein@harness.io shivkumar.loka@harness.io ompragash.viswanathan@harness.io

# CODE Docs
/docs/code-repository/ nofar.bluestein@harness.io shivkumar.loka@harness.io ompragash.viswanathan@harness.io johannes.batzill@harness.io hitesh.aringa@harness.io atefeh.mohseni-ejiyeh@harness.io ritik.kapoor@harness.io 
/release-notes/code-repository.md nofar.bluestein@harness.io shivkumar.loka@harness.io ompragash.viswanathan@harness.io johannes.batzill@harness.io hitesh.aringa@harness.io atefeh.mohseni-ejiyeh@harness.io ritik.kapoor@harness.io
/src/components/Roadmap/data/codeData.ts nofar.bluestein@harness.io shivkumar.loka@harness.io ompragash.viswanathan@harness.io johannes.batzill@harness.io hitesh.aringa@harness.io atefeh.mohseni-ejiyeh@harness.io ritik.kapoor@harness.io
/src/components/Docs/data/codeRepositoryData.tsx nofar.bluestein@harness.io shivkumar.loka@harness.io ompragash.viswanathan@harness.io johannes.batzill@harness.io hitesh.aringa@harness.io atefeh.mohseni-ejiyeh@harness.io ritik.kapoor@harness.io 

# STO Docs
/docs/security-testing-orchestration/ lavakush.biyani@harness.io pritesh.chandaliya@harness.io udit.jain@harness.io
/release-notes/security-testing-orchestration.md lavakush.biyani@harness.io pritesh.chandaliya@harness.io udit.jain@harness.io
/src/components/Roadmap/data/stoData.ts lavakush.biyani@harness.io pritesh.chandaliya@harness.io udit.jain@harness.io
/src/components/Docs/data/securityTestingOrchestrationData.ts lavakush.biyani@harness.io pritesh.chandaliya@harness.io udit.jain@harness.io
# STO FAQs

# CCM Docs

/docs/cloud-cost-management/ jyoti.bisht@harness.io karan.shetty@harness.io joseph.lopez@harness.io jyoti.arora@harness.io rajarshee.chatterjee@harness.io
/release-notes/cloud-cost-management.md jyoti.bisht@harness.io karan.shetty@harness.io joseph.lopez@harness.io rajarshee.chatterjee@harness.io
/src/components/Roadmap/data/ccmData.ts jyoti.bisht@harness.io karan.shetty@harness.io joseph.lopez@harness.io rajarshee.chatterjee@harness.io
/src/components/Docs/data/cloudCostManagementData.ts jyoti.bisht@harness.io karan.shetty@harness.io joseph.lopez@harness.io rajarshee.chatterjee@harness.io
/docs/cloud-cost-management/kb-reference-architecture/ richard.black@harness.io riley.snyder@harness.io rajeswari.koppala@harness.io christopher.suran@harness.io venkat.padmanabhan@harness.io brandon.welu@harness.io jeremy.goodrum@harness.io

# FirstGen CCM Docs
/docs/category/cloud-cost-management/ jyoti.bisht@harness.io karan.shetty@harness.io joseph.lopez@harness.io

# CCM FAQs
/docs/faqs/cloud-cost-management-faqs/ jyoti.bisht@harness.io karan.shetty@harness.io joseph.lopez@harness.io

# CET Docs
/docs/continuous-error-tracking/ moshe.tsur@harness.io
/release-notes/continuous-error-tracking.md moshe.tsur@harness.io
/src/components/Docs/data/continuousErrorTrackingData.ts moshe.tsur@harness.io
/src/components/Docs/ContinuousErrorTracking.tsx moshe.tsur@harness.io

# SRM Docs
/docs/service-reliability-management/ vasundhara.shukla@harness.io ryan.taylor@harness.io tina.huang@harness.io moshe.tsur@harness.io prasad.satam@harness.io anshul@harness.io
/release-notes/service-reliability-management.md vasundhara.shukla@harness.io ryan.taylor@harness.io tina.huang@harness.io
/src/components/Roadmap/data/srmData.ts vasundhara.shukla@harness.io ryan.taylor@harness.io tina.huang@harness.io
/src/components/Docs/data/serviceReliabilityManagementData.ts vasundhara.shukla@harness.io ryan.taylor@harness.io tina.huang@harness.io

# Chaos Docs
/docs/chaos-engineering/ vedant.shrotria@harness.io karthik.s@harness.io umasankar.mukkara@harness.io ashutosh.bhadauriya@harness.io
/release-notes/chaos-engineering.md vedant.shrotria@harness.io ashutosh.bhadauriya@harness.io
/src/components/Roadmap/data/ceData.ts ashutosh.bhadauriya@harness.io @vedant.shrotria@harness.io
/src/components/Docs/data/chaosEngineeringData* ashutosh.bhadauriya@harness.io @vedant.shrotria@harness.io
# Chaos FAQs
/docs/faqs/chaos-engineering-faqs vedant.shrotria@harness.io karthik.s@harness.io @umasankar.mukkara@harness.io ashutosh.bhadauriya@harness.io
/docs/faqs/static vedant.shrotria@harness.io karthik.s@harness.io @umasankar.mukkara@harness.io ashutosh.bhadauriya@harness.io
/kb/chaos-engineering/chaos-engineering-faq karthik.s@harness.io @umasankar.mukkara@harness.io ashutosh.bhadauriya@harness.io

# Platform Docs
/docs/platform/ prateek.mittal@harness.io gokul.bansal@harness.io abhishek.thamman@harness.io vikram.sahu@harness.io
/release-notes/delegate.md prateek.mittal@harness.io abhishek.thamman@harness.io anshul@harness.io vikram.sahu@harness.io
/release-notes/platform.md prateek.mittal@harness.io gokul.bansal@harness.io abhishek.thamman@harness.io vikram.sahu@harness.io
/release-notes/self-managed-enterprise-edition.md prateek.mittal@harness.io abhishek.thamman@harness.io vikram.sahu@harness.io @anshul-harness @raviyadalam 
/src/components/Roadmap/data/platformData.ts prateek.mittal@harness.io abhishek.thamman@harness.io vikram.sahu@harness.io
/src/components/Docs/data/platformData.ts prateek.mittal@harness.io abhishek.thamman@harness.io vikram.sahu@harness.io
# FirtGen Platform Docs
/docs/category/platform-firstgen/ prateek.mittal@harness.io abhishek.thamman@harness.io vikram.sahu@harness.io
# FirstGen SMP Docs
/docs/category/self-managed-enterprise-edition-fg/ prateek.mittal@harness.io abhishek.thamman@harness.io vikram.sahu@harness.io
/docs/self-managed-enterprise-edition/ prateek.mittal@harness.io abhishek.thamman@harness.io vikram.sahu@harness.io
# Delegate FAQs
/docs/faqs/harness-delegate-faqs/ prateek.mittal@harness.io abhishek.thamman@harness.io vikram.sahu@harness.io
# SMP FAQs
/docs/faqs/self-managed-ee-faq/ prateek.mittal@harness.io abhishek.thamman@harness.io vikram.sahu@harness.io

# Pipeline Docs
/docs/platform/pipelines/ vishal.vishwaroop@harness.io @SudarshanPurohit @anshul-harness @rohitk-h @prasadsatamharness @navaneeth siddhant.dua@harness.io
/docs/platform/git-experience/ vishal.vishwaroop@harness.io @prasadsatamharness @anshul-harness @rohitk-h @prasadsatamharness @navaneeth siddhant.dua@harness.io
/docs/platform/templates/ vishal.vishwaroop@harness.io @SudarshanPurohit @anshul-harness @rohitk-h @prasadsatamharness @navaneeth siddhant.dua@harness.io
/docs/platform/variables-and-expressions/ vishal.vishwaroop@harness.io @SudarshanPurohit @anshul-harness @rohitk-h @prasadsatamharness @navaneeth siddhant.dua@harness.io
/docs/platform/triggers/ vishal.vishwaroop@harness.io @SudarshanPurohit @anshul-harness @rohitk-h @prasadsatamharness @navaneeth siddhant.dua@harness.io
/docs/platform/approvals/ vishal.vishwaroop@harness.io @anshul-harness @rohitk-h @prasadsatamharness @navaneeth siddhant.dua@harness.io
/docs/platform/connectors/ vishal.vishwaroop@harness.io @anshul-harness @rohitk-h @prasadsatamharness @navaneeth siddhant.dua@harness.io

# AI DevOps Docs
/docs/platform/harness-aida/ dewan.ahmed@harness.io prateek.mittal@harness.io rohan.gupta@harness.iovikram.sahu@harness.io abhishek.thamman@harness.io vishal.vishwaroop@harness.io

# IDP Docs
/docs/internal-developer-portal/ khushi.sharma@harness.io manisha.sahasrabudhe@harness.io rashmi.hegde@harness.io sandeepa.kv@harness.io
/release-notes/internal-developer-portal.md khushi.sharma@harness.io manisha.sahasrabudhe@harness.io rashmi.hegde@harness.io sandeepa.kv@harness.io
/release-notes/static/internal-developer-portal/ khushi.sharma@harness.io manisha.sahasrabudhe@harness.io rashmi.hegde@harness.io sandeepa.kv@harness.io
/src/components/Roadmap/data/idpData.ts khushi.sharma@harness.io manisha.sahasrabudhe@harness.io rashmi.hegde@harness.io sandeepa.kv@harness.io
/src/components/Docs/data/internalDeveloperPortal.ts khushi.sharma@harness.io manisha.sahasrabudhe@harness.io rashmi.hegde@harness.io sandeepa.kv@harness.io

# SCS Docs
/docs/software-supply-chain-assurance/  lavakush.biyani@harness.io pranay.shah@harness.io sahil.jugiani@harness.io
/release-notes/software-supply-chain-assurance.md  lavakush.biyani@harness.io pranay.shah@harness.io sahil.jugiani@harness.io
/src/components/Roadmap/data/sscaData.ts  lavakush.biyani@harness.io pranay.shah@harness.io sahil.jugiani@harness.io
/src/components/Docs/data/softwareSupplyChainAssuranceData.tsx  lavakush.biyani@harness.io pranay.shah@harness.io sahil.jugiani@harness.io

# IACM Docs
/docs/infra-as-code-management/ richard.black@harness.io roger.simms@harness.io nasser.gonzalez@harness.io rohit.reddy@harness.io david.warren@harness.io kseniia.dudina@harness.io rajendra.baviskar@harness.io
/release-notes/infrastructure-as-code-management.md richard.black@harness.io roger.simms@harness.io nasser.gonzalez@harness.io rohit.reddy@harness.io david.warren@harness.io kseniia.dudina@harness.io rajendra.baviskar@harness.io
/src/components/Roadmap/data/iacmData.ts richard.black@harness.io roger.simms@harness.io nasser.gonzalez@harness.io rohit.reddy@harness.io david.warren@harness.io kseniia.dudina@harness.io rajendra.baviskar@harness.io
/src/components/Docs/data/iacmData.ts richard.black@harness.io roger.simms@harness.io nasser.gonzalez@harness.io rohit.reddy@harness.io david.warren@harness.io kseniia.dudina@harness.io rajendra.baviskar@harness.io

# FF Classic Docs
/docs/feature-flags/ austin.lai@harness.io david.karow@harness.io deepak.puthraya@harness.io rohit.pal@harness.io
/release-notes/feature-flags.md austin.lai@harness.io david.karow@harness.io deepak.puthraya@harness.io rohit.pal@harness.io
/src/components/Roadmap/data/ffData.ts austin.lai@harness.io david.karow@harness.io
/src/components/Docs/data/featureFlagsData.ts austin.lai@harness.io david.karow@harness.io

# FME Docs
/src/components/Roadmap/data/fmeData.ts austin.lai@harness.io david.karow@harness.io audrey.do@harness.io nicolas.zelaya@harness.io yunan.wu@harness.io 
/docs/feature-management-experimentation/ austin.lai@harness.io trevor.stuart@harness.io david.karow@harness.io audrey.do@harness.io nicolas.zelaya@harness.io yunan.wu@harness.io richard.black@harness.io mauro.sanz@harness.io
/docs/feature-management-experimentation/sdks-and-infrastructure/ austin.lai@harness.io nicolas.zelaya@harness.io mauro.sanz@harness.io emmanuel.zamora@harness.io gaston.thea@harness.io emiliano.sanchez@harness.io nadia.mayor@harness.io bilal.al-shahwany@harness.io martin.cardozo@harness.io
/release-notes/feature-management-experimentation.md austin.lai@harness.io david.karow@harness.io audrey.do@harness.io nicolas.zelaya@harness.io yunan.wu@harness.io trevor.stuart@harness.io  
/release-notes/static/fme/ austin.lai@harness.io david.karow@harness.io audrey.do@harness.io nicolas.zelaya@harness.io yunan.wu@harness.io trevor.stuart@harness.io 

# SEI Docs
/docs/software-engineering-insights/ austin.lai@harness.io dhrubajyoti.chakraborty@harness.io prashant.batra@harness.io yashaswini.raghavan@harness.io
/release-notes/software-engineering-insights.md austin.lai@harness.io dhrubajyoti.chakraborty@harness.io prashant.batra@harness.io yashaswini.raghavan@harness.io
/src/components/Roadmap/data/seiData.ts austin.lai@harness.io dhrubajyoti.chakraborty@harness.io prashant.batra@harness.io yashaswini.raghavan@harness.io
/src/components/Docs/data/softwareEngineeringInsightsData.ts austin.lai@harness.io dhrubajyoti.chakraborty@harness.io prashant.batra@harness.io yashaswini.raghavan@harness.io

# DB DevOps Docs
/docs/database-devops/ stephen.atwell@harness.io archit.singla@harness.io animesh.pathak@harness.io rohit.karelia@harness.io
/release-notes/database-devops.md stephen.atwell@harness.io archit.singla@harness.io animesh.pathak@harness.io rohit.karelia@harness.io
/src/components/Docs/data/databaseDevOpsData.ts stephen.atwell@harness.io archit.singla@harness.io animesh.pathak@harness.io rohit.karelia@harness.io
/src/components/Roadmap/data/dbdevopsData.ts stephen.atwell@harness.io archit.singla@harness.io animesh.pathak@harness.io rohit.karelia@harness.io matthew.schillerstrom@harness.io vikram.sahu@harness.io wei.guo@harness.io
# DB DevOps FAQs
/docs/faqs/db-devops-faqs/ stephen.atwell@harness.io archit.singla@harness.io animesh.pathak@harness.io rohit.karelia@harness.io

# CDE Docs
/docs/cloud-development-environments/ @manishas @khushisharmaharness
/src/components/Docs/data/cloudDevelopmentEnvironmentData.ts @manishas @khushisharmaharness

# AI SRE Docs
/docs/ai-sre/ ryan.taylor@harness.io tina.huang@harness.io vasundhara.shukla@harness.io nicholas.lanam@harness.io matthew.sullivan@harness.io brett.lazarus@harness.io
/release-notes/ai-sre.md ryan.taylor@harness.io tina.huang@harness.io vasundhara.shukla@harness.io nicholas.lanam@harness.io matthew.sullivan@harness.io brett.lazarus@harness.io

# AI Test automation Docs
/docs/ai-test-automation/ shibam.dhar@harness.io debaditya.chatterjee@harness.io
/release-notes/ai-test-automation.md shibam.dhar@harness.io debaditya.chatterjee@harness.io
/src/components/Docs/AiTestAutomation.tsx shibam.dhar@harness.io debaditya.chatterjee@harness.io
/src/components/Roadmap/data/ataData.ts shibam.dhar@harness.io debaditya.chatterjee@harness.io
/release-notes/static/ait/ shibam.dhar@harness.io debaditya.chatterjee@harness.io


# Artifact Registry Docs
/docs/artifact-registry/ shankar.hariharan@harness.io shivakumar.ningappa@harness.io richard.black@harness.io arvind.choudhary@harness.io shibam.dhar@harness.io
/release-notes/artifact-registry.md shankar.hariharan@harness.io shivakumar.ningappa@harness.io richard.black@harness.io arvind.choudhary@harness.io shibam.dhar@harness.io
/src/components/Docs/data/artifactRegistryData.ts shankar.hariharan@harness.io shivakumar.ningappa@harness.io richard.black@harness.io arvind.choudhary@harness.io shibam.dhar@harness.io
/src/components/Roadmap/data/artifactRegistryData.ts shankar.hariharan@harness.io shivakumar.ningappa@harness.io richard.black@harness.io arvind.choudhary@harness.io shibam.dhar@harness.io

# Open Source Docs
/docs/open-source/ nofar.bluestein@harness.io shivkumar.loka@harness.io ompragash.viswanathan@harness.io johannes.batzill@harness.io hitesh.aringa@harness.io atefeh.mohseni-ejiyeh@harness.io ritik.kapoor@harness.io 
/src/components/Docs/data/openSourceData.tsx nofar.bluestein@harness.io shivkumar.loka@harness.io ompragash.viswanathan@harness.io johannes.batzill@harness.io hitesh.aringa@harness.io atefeh.mohseni-ejiyeh@harness.io ritik.kapoor@harness.io 

# Cloud Operations Docs
/docs/harness-cloud-operations/ @ankit-harness

# FF GA Feed
/release-notes/static/ff-ga-feed.json pooja.singhal@harness.io kalyan.sai@harness.io deepak.puthraya@harness.io mohit.garg@harness.io ravi.vankadari@harness.io navaneeth.kn@harness.io rohit.karelia@harness.io alexandru.casian@harness.io anshul@harness.io

# Harness Solutions Factory
/docs/harness-solutions-factory jeremy.goodrum@harness.io ashley.kim@harness.io aditya.kashyap@harness.io riley.snyder@harness.io