.searchBoxMain {
  position: relative;
  margin: 0 10px;
  max-width: 220px;

  ul {
    position: absolute;
    top: calc(100% + 4px);
    left: 0;
    z-index: 200;

    min-width: 220px;
    margin: 0;
    padding: 4px 0;

    list-style: none;
    background: #fff;
    border: 1px solid #0000001a;
    border-radius: 8px;

    box-shadow: 0 0 1px rgba(40, 41, 61, 0.04), 0 4px 8px rgba(96, 97, 112, 0.16);

    li {
      padding: 10px 12px;
      cursor: pointer;
      font-size: 14px;
      color: var(--gray-600);

      display: flex;
      align-items: center;

      &:hover,
      &.highlighted {
        background-color: var(--gray-100);
      }

      &:focus {
        outline: none;
      }

      p {
        margin: 0;
      }
    }
  }

  .searchBox {
    position: relative;
    display: flex;
    align-items: center;

    input {
      width: 100%;
      max-width: 220px;
      height: 40px;

      background: #fff9;
      border: 1px solid #0000001a;
      border-radius: 8px;

      padding: 0 12px 0 36px;
      font-size: 14px;
      font-weight: 400;
      color: var(--gray-800);

      transition: all 0.2s;

      &::placeholder {
        color: var(--gray-500);
        opacity: 1;
      }

      &:hover,
      &:focus {
        border-color: var(--primary-7);
        outline: none;
      }
    }

    i {
      position: absolute;
      left: 12px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 16px;
      color: var(--gray-500);
      pointer-events: none;
    }
    @media (max-width: '996px') {
      margin-left: 4px;
      font-size: 10px;
    }
  }
}
.SearchResultBox {
  position: absolute;
  max-height: 90vh;
  overflow-y: auto;
  overflow-x: hidden;
  max-width: 1041px;
  right: 12px;
  width: 90%;
  display: flex;
  padding: 16px;
  justify-content: flex-start;
  gap: 16px;
  background-color: var(--background-color);
  // background-color: yellow;
  border: 1px solid white;
  border-radius: 8px;
  margin: 8px auto;
  box-shadow: 0 0 1px rgba(40, 41, 61, 0.04), 0 4px 8px rgba(96, 97, 112, 0.16);
  z-index: 100;

  @media (max-width: 996px) {
    width: 94%;
  }
  .right {
    flex-grow: 1;
    width: 100%;
    .responsiveFacet {
      display: none;
      @media (max-width: 840px) {
        display: inline;
      }
    }
    .filterBtn {
      border-radius: 2px;

      font-size: 12px;
      display: inline-block;
      padding: 0 7px;
      height: 22px;
      font-weight: 600;
      line-height: 20px;
      letter-spacing: 0.09px;
      vertical-align: middle;
      white-space: normal;
      color: var(--link-color-hover);
      cursor: pointer;
      text-transform: uppercase;
      margin-bottom: 12px;
      display: none;
      border: none;
      background-color: #d9dae5;
      @media (max-width: 840px) {
        display: block;
      }
    }
  }
  .left {
    width: 240px;
    @media (max-width: 840px) {
      display: none;
    }
  }
  @media (max-width: '996px') {
    font-size: 10px;
  }
}

.resultList {
  ul {
    padding: 0;
    margin: 0;
  }
  ul > li {
    margin-bottom: 16px;
    text-decoration: none;
    list-style: none;
    width: 100%;
    max-width: 750px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-bottom: thin solid #bcc3ca;
    background: var(--coveo-card-bg);
    border-bottom: unset;
    border-radius: 8px;
    margin: 8px auto;
    box-shadow: 0 0 1px rgba(40, 41, 61, 0.04), 0 2px 4px rgba(96, 97, 112, 0.16);
    article {
      display: flex;
      gap: 12px;
      flex-direction: column;
    }

    .heading {
      h2 {
        margin: 0;
        padding: 0;
        color: var(--link-color);
        text-decoration: none;
        cursor: pointer;
        word-wrap: break-word;
        font-size: 18px;
        font-weight: 500;
        line-height: 28px;
        &:hover {
          text-decoration: underline;
          color: var(--link-color-hover);
        }
      }
      a {
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        color: var(--link-color);
        text-decoration: none;
        cursor: pointer;
        word-wrap: break-word;
        &:hover {
          text-decoration: underline;
          color: var(--link-color-hover);
        }
      }
    }

    p {
      margin: 0;
      padding: 0;
      color: var(--gray-600);
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
    }
    .tagTop,
    .tagBottom {
      display: flex;
      gap: 8px;
      @media (max-width: 640px) {
        flex-direction: column;
      }

      div {
        color: var(--gray-800);
        text-align: center;
        text-align: center;
        letter-spacing: 0.2px;
        background-color: #fafbfc;
        border: 1px solid #d9dae5;
        border-radius: 2px;
        align-items: center;
        width: fit-content;
        padding: 4px 8px;
        font-size: 12px;
        font-weight: 600;
        line-height: 16px;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 4px;

        img {
          height: 16px;
          width: 16px;
        }
        p {
          margin: 0;
          padding: 0;
          font-size: 12px;
          line-height: 16px;
          font-weight: 600;
        }
      }
    }
  }
  @media (max-width: '996px') {
    font-size: 10px;
  }
}

.QuerySummaryAndSort {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 45px;
  margin: 0;
  padding: 0;
  gap: 16px;
  @media (max-width: 640px) {
    flex-direction: column;
    height: auto;
    align-items: flex-start;
  }
  .summary {
    gap: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    p {
      display: inline;
      color: var(--gray-600);
      font-size: 14px;
      margin: 0;
      padding: 0;
      @media (max-width: 640px) {
        display: block;
      }
    }
    button {
      margin: 0;
      padding: 0;
      cursor: pointer;
      background-color: transparent;
      border: none;
      i {
        font-size: 14px;
        color: var(--link-color);
      }
    }
  }
  .sort {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
    button {
      box-sizing: border-box;
      font-size: 12px;
      font-weight: 600;
      color: var(--gray-600);
      border: none;
      height: 45px;
      line-height: 24px;
      text-transform: uppercase;
      padding: 8px;
      background-color: var(--background-color);
      margin: 0;
      background-color: none;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      i {
        margin-left: 4px;
      }
    }
    .selectedButton {
      border-bottom: 2px solid var(--text-color);
    }
  }
  @media (max-width: '996px') {
    font-size: 10px;
  }
}
.hrLine {
  margin: 0;
  padding: 0;
  border-bottom: 2px solid #d5dade;
}

.resultPerPage {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 16px;
  align-items: center;

  p {
    margin: 0;
    padding: 0;
    font-size: 12px;
    color: var(--text-color);
  }
  display: flex;
  justify-content: flex-end;
  align-items: center;
  ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    li {
      text-decoration: none;
      list-style: none;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      button {
        padding: 8px;
        font-weight: 600;
        color: var(--primary-7);
        background-color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
      .active {
        background-color: var(--primary-7);
        color: white;
      }
    }
  }
  @media (max-width: '996px') {
    font-size: 10px;
  }
}

.pager {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  button {
    padding: 8px;
    font-weight: 600;
    color: var(--primary-7);
    background-color: white;
    border: 1px solid var(--primary-7);
    border-radius: 4px;
    cursor: pointer;
  }
  .active {
    background-color: var(--primary-7);
    color: white;
  }
  @media (max-width: '996px') {
    font-size: 10px;
  }
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;

  @media (max-width: 640px) {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }
  @media (max-width: '996px') {
    font-size: 10px;
  }
}

.facet {
  margin-bottom: 12px;
  .facetTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    h3 {
      font-size: 15px;
      color: #0059b3;
      font-weight: 600;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      text-transform: capitalize;
      line-height: 35px;
      margin: 0;
      padding: 0;
    }
    i {
      cursor: pointer;
      color: #0059b3;
      font-size: 14px;
      font-weight: bold;
    }
  }
  ul {
    margin: 0;
    padding: 10px 0;
    button {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      text-decoration: none;
      cursor: pointer;
      overflow: visible;
      width: auto;
      padding: 0;
      margin: 0;
      background: none;
      border: none;
      color: #296896;
      width: 100%;
      text-align: left;
      margin-top: 2px;
      padding: 3px 0;
      font-size: 15px;
      gap: 4px;
      i {
        font-size: 10px;
      }
    }
    li {
      text-decoration: none;
      list-style: none;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      line-height: 1.2em;
      text-align: center;
      color: #22222a;
      align-items: flex-end;
      font-size: 12px;
      font-weight: 300;
      display: flex;
      box-sizing: border-box;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 12px;
      margin-bottom: 8px;
      input {
        position: relative;
        min-width: 17px;
        min-height: 17px;
        padding: 0;
        margin: 0;
        background: #fff;
        border: 1px solid #7e8c9a;
        border-radius: 2px;
        outline: none;
        transition: all 0.2s;
        cursor: pointer;
        box-sizing: border-box;
      }
      div {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 4px;
        max-height: 16px;
        img {
          width: 16px;
          height: 16px;
          display: inline-block;
        }
        p {
          color: var(--text-color);
          margin: 0;
          padding: 0;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          // flex-wrap: wrap;
          flex-grow: 1;
          overflow: hidden;
          gap: 8px;
        }
        span {
          color: var(--gray-900);
        }
      }
    }
  }
  @media (max-width: '996px') {
    font-size: 10px;
  }
}

.FacetBreadCrumbs {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 12px;

  @media (max-width: 640px) {
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 16px;
  }
  div > div {
    display: flex;
    justify-content: flex-start;
    align-items: flex start;
    p {
      margin: 0;
      padding: 0;
      color: var(--link-color);
      font-size: 14px;
      font-weight: 400;
      display: inline;
      margin-right: 8px;
    }
  }
  .clearButton {
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: var(--link-color-hover);
    cursor: pointer;
    background-color: transparent;
    border: none;
    &:hover {
      text-decoration: underline;
    }
  }
  .FacetBreadCrumbsValues {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;

    p {
      display: inline-flex;
      justify-content: flex-start;
      align-items: center;
      gap: 4px;
      text-decoration: none;
      cursor: pointer;
      overflow: visible;
      width: auto;
      padding: 0;
      margin: 0;
      background: none;
      border: none;
      color: var(--link-color-hover);
      font-size: 14px;
      margin-right: 15px;
      outline-offset: 1px;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

[data-theme='dark'] {
  .searchBox {
    input {
      background-color: #ffffff1f;
      border-color: #fff3;
      color: #9ca3af;

      &::placeholder {
        color: #9ca3af;
      }

      &:hover,
      &:focus {
        border-color: var(--primary-7);
      }
    }

    i {
      color: #9ca3af;
    }
  }

  .searchBoxMain ul {
    background-color: #000000;
    border-color: #fff3;
    opacity: 100;

    li {
      color: #9ca3af;

      &:hover,
      &.highlighted {
        background-color: rgba(255, 255, 255, 0.08);
      }
    }
  }
  @media (max-width: '996px') {
    font-size: 10px;
  }
}
