---
title: Upload Test Results
description: Send test results to Harness to enable flaky detection and test tracking
sidebar_position: 2
---

import Ci from '@site/docs/continuous-integration/use-ci/run-tests/test-management/ci-test-reports.md';

<Ci />


