.cardContainer {
  --ifm-link-color: var(--ifm-color-emphasis-800);
  --ifm-link-hover-color: var(--ifm-color-emphasis-700);
  --ifm-link-hover-decoration: none;

  box-shadow: 0 1.5px 3px 0 rgb(0 0 0 / 15%);
  border: 2px solid var(--ifm-color-emphasis-200);
  transition: all var(--ifm-transition-fast) ease;
  transition-property: border, box-shadow;

  height: 100%;
  padding: 16px !important;
  width: 250px;
  height: 100px;

}
a:hover {
  text-decoration: none !important;
}
.cardContainer img {
  width: 24px;
  color: var(--primary);
}
.cardContainer h2 {
  font-size: 16px;
  color: var(--primary);
}

.cd:hover {
  border-color: var(--mod-cd-200);
}
.cd:focus {
  border-color: var(--mod-cd-200);
}

.ci:hover {
  border-color: var(--mod-ci-200);
}
.ci:focus {
  border-color: var(--mod-ci-200);
}
.ff:hover {
  border-color: var(--mod-ff-200);
}
.ff:focus {
  border-color: var(--mod-ff-200);
}
.ccm:hover {
  border-color: var(--mod-ccm-200);
}
.ccm:focus {
  border-color: var(--mod-ccm-200);
}
.srm:hover {
  border-color: var(--mod-srm-200);
}
.srm:focus {
  border-color: var(--mod-srm-200);
}
.sto:hover {
  border-color: var(--mod-sto-200);
}
.sto:focus {
  border-color: var(--mod-sto-200);
}
.ce:hover {
  border-color: var(--mod-ce-200);
}
.ce:focus {
  border-color: var(--mod-ce-200);
}
.platform:hover {
  border-color: var(--primary);
}
.platform:focus {
  border-color: var(--primary);
}
