.whatsNew {
  display: block;
  flex-shrink: 0;
  align-items: flex-start;
  padding: 4rem 0 4rem 0;
  // width: 100%;
  flex-basis: 390px; // 30%;
  a {
    color: #000;
  }
  .whatsNewSvg {
    width: 24px;
    height: 24px;
  }
  .changeLog {
    display: block;
  }
  .moudleAndDate {
    display: flex;
    align-content: center;
    color: #4F5162;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    img {margin-right: 8px;}
  }
  h2 {
    margin-bottom: 32px;

    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
  }
  .whatsNewTxt {
    border-bottom: 1px solid #D9DAE5;
    margin-bottom: 18px;
    h3 {
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      margin: 9px 0;
    }
    p {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
    }
  }
  .seeAll {
    a {color: var(--primary);}
  }
}

