openapi: 3.0.3
x-stoplight:
  id: l0qzxawe3eo9o
info:
  title: Harness NextGen Software Delivery Platform API Reference
  version: '1.0'
  description: Open Api Spec for the SSCA Service.
  contact:
    email: contact@harness.io
servers:
  - url: 'https://app.harness.io'
    description: Harness host URL.
tags:
  - name: orchestration
    description: This contains APIs for SBOM.
    x-displayName: SBOM (SSCA)
paths:
  '/v1/org/{org}/project/{project}/sbom/process':
    parameters:
      - $ref: '#/components/parameters/OrgParam'
      - $ref: '#/components/parameters/ProjectParam'
    post:
      summary: process raw SBOM into harness usable normalized form
      operationId: process-sbom
      responses:
        '200':
          $ref: '#/components/responses/SbomProcessResponseBody'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
        '502':
          description: Bad Gateway
      description: process & inject sbom
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/SbomProcessRequestBody'
      tags:
        - sbomProcessor
      security:
        - x-api-key: []
      x-stoplight:
        id: 3pupuceuxwkth
  '/v1/org/{org}/project/{project}/sbom/enforcement':
    parameters:
      - $ref: '#/components/parameters/OrgParam'
      - $ref: '#/components/parameters/ProjectParam'
    post:
      summary: enforce normalized SBOM based on policies applied
      operationId: enforce-sbom
      responses:
        '200':
          $ref: '#/components/responses/EnforceSbomResponseBody'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
        '502':
          description: Bad Gateway
      description: enforce an sbom
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/EnforceSbomRequestBody'
      tags:
        - sbomProcessor
      security:
        - x-api-key: []
      x-stoplight:
        id: imkfnf4aogvic
  '/v2/orgs/{org}/projects/{project}/sbom/enforcement':
    parameters:
      - $ref: '#/components/parameters/OrgParam'
      - $ref: '#/components/parameters/ProjectParam'
    post:
      summary: enforce normalized SBOM based on policies applied
      operationId: enforceSbomV2
      responses:
        '200':
          $ref: '#/components/responses/EnforceSbomResponseBody'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
        '502':
          description: Bad Gateway
      description: enforce an sbom
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/EnforceSbomRequestBodyV2'
      tags:
        - enforcementV2
      security:
        - x-api-key: []
      x-stoplight:
        id: imkfnf4aogvic
  /v1/token:
    get:
      summary: Issue a cross-service token
      tags:
        - Token
      responses:
        '200':
          $ref: '#/components/responses/TokenIssueResponseBody'
      operationId: Token#IssueToken
      x-stoplight:
        id: yvvqta0dyz1r0
      description: Issue a cross-service token
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      x-internal: true
      security:
        - x-api-key: []
  '/v1/org/{org}/project/{project}/orchestration/{orchestration-id}/sbom-download':
    get:
      summary: Download SBOM for an artifact
      responses:
        '200':
          $ref: '#/components/responses/ArtifactSbomResponseBody'
      operationId: downloadSbom
      x-stoplight:
        id: q6aepcsx5fl46
      description: Download SBOM for an artifact
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      x-internal: false
      security:
        - x-api-key: []
      tags:
        - OrchestrationV2
    parameters:
      - $ref: '#/components/parameters/OrgParam'
      - $ref: '#/components/parameters/ProjectParam'
      - schema:
          type: string
        name: orchestration-id
        in: path
        required: true
        description: Orchestration Identifier
  '/v1/orgs/{org}/projects/{project}/sbom-download':
    get:
      summary: Download SBOM for an artifact
      responses:
        '200':
          $ref: '#/components/responses/ArtifactSbomResponseBody'
      operationId: downloadSbomForArtifact
      x-stoplight:
        id: q6aepcsx5fl46
      description: Download SBOM for an artifact
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      x-internal: false
      security:
        - x-api-key: []
      tags:
        - SBOM
      requestBody:
        $ref: '#/components/requestBodies/DownloadSbomRequestBody'
    parameters:
      - $ref: '#/components/parameters/OrgParam'
      - $ref: '#/components/parameters/ProjectParam'
  '/v1/org/{org}/project/{project}/orchestration/{orchestration-id}/summary':
    parameters:
      - $ref: '#/components/parameters/OrgParam'
      - $ref: '#/components/parameters/ProjectParam'
      - schema:
          type: string
        name: orchestration-id
        in: path
        required: true
    get:
      summary: Get Orchestration Summary
      responses:
        '200':
          $ref: '#/components/responses/OrchestrationSummaryResponseBody'
      operationId: getOrchestrationSummary
      x-stoplight:
        id: rzez3urt99t56
      description: Get Orchestration Summary
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      x-internal: true
      tags:
        - orchestration
  '/v1/org/{org}/project/{project}/enforcement/{enforcement-id}/summary':
    parameters:
      - $ref: '#/components/parameters/OrgParam'
      - $ref: '#/components/parameters/ProjectParam'
      - schema:
          type: string
        name: enforcement-id
        in: path
        required: true
    get:
      summary: Get Enforcement Summary
      responses:
        '200':
          $ref: '#/components/responses/EnforcementSummaryResponseBody'
      operationId: getEnforcementSummary
      x-stoplight:
        id: cfoup8kobxvaj
      description: Get Enforcement Summary
      security:
        - x-api-key: []
      tags:
        - enforcement
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
  '/v1/org/{org}/project/{project}/enforcement/{enforcement-id}/policy-violations':
    get:
      summary: List Policy Violations
      tags:
        - enforcement
      responses:
        '200':
          $ref: '#/components/responses/PolicyViolationResponse'
      operationId: getPolicyViolations
      x-stoplight:
        id: 4e6p8z1cqvf4q
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Order'
        - $ref: '#/components/parameters/Page'
        - in: query
          name: sort
          description: Parameter on the basis of which sorting is done.
          schema:
            enum:
              - name
              - identifier
              - created
              - updated
              - license
              - supplier
        - schema:
            type: string
          in: query
          name: search_text
          description: Text on the basis of which results will be filtered
        - $ref: '#/components/parameters/ImageLayer'
    parameters:
      - $ref: '#/components/parameters/OrgParam'
      - $ref: '#/components/parameters/ProjectParam'
      - schema:
          type: string
        name: enforcement-id
        in: path
        required: true
        description: Enforcement Identifier
  '/v1/org/{org}/project/{project}/normalised-sbom-component':
    parameters:
      - $ref: '#/components/parameters/OrgParam'
      - $ref: '#/components/parameters/ProjectParam'
    post:
      summary: Get Normalised Sbom Components
      operationId: getNormalisedSbomComponent
      responses:
        '200':
          $ref: '#/components/responses/NormaliseSbomResponseBody'
      description: Get a paginated list for normalised sbom components for a given orchestration.
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Page'
      requestBody:
        $ref: '#/components/requestBodies/NormalisedSbomComponentRequestBody'
      tags:
        - enforcement
      x-stoplight:
        id: cdrphvqdy9dld
  '/v1/org/{org}/project/{project}/enforcement-result':
    parameters:
      - $ref: '#/components/parameters/OrgParam'
      - $ref: '#/components/parameters/ProjectParam'
    post:
      summary: Save Enforcement Result
      operationId: saveEnforcementResult
      responses:
        '201':
          description: Created
      description: Creates a new Enforcement Result.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnforcementResultDTO'
        description: Enforcement Result DTO
      tags:
        - enforcement
      x-stoplight:
        id: 8kgg2sedlujpu
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
  '/v1/org/{org}/project/{project}/enforcement-summary':
    parameters:
      - $ref: '#/components/parameters/OrgParam'
      - $ref: '#/components/parameters/ProjectParam'
    post:
      summary: Save Enforcement Summary
      operationId: saveEnforcementSummary
      responses:
        '201':
          description: Created
      description: Creates a new Enforcement Summary.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnforcementSummaryDTO'
        description: Enforcement Result DTO
      tags:
        - enforcement
      x-stoplight:
        id: bwu6h3f34xyvh
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
  '/v1/org/{org}/project/{project}/artifacts':
    parameters:
      - $ref: '#/components/parameters/OrgParam'
      - $ref: '#/components/parameters/ProjectParam'
    post:
      summary: List All Artifacts
      operationId: listArtifacts
      responses:
        '200':
          $ref: '#/components/responses/ArtifactListingResponseBody'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      tags:
        - artifact
      description: List all artifacts
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Order'
        - $ref: '#/components/parameters/Page'
        - in: query
          description: Parameter on the basis of which sorting is done.
          name: sort
          schema:
            enum:
              - name
              - updated
            default: name
      security:
        - x-api-key: []
      requestBody:
        $ref: '#/components/requestBodies/ArtifactListingRequestBody'
      x-stoplight:
        id: sfjqaglg433tw
  '/v1/orgs/{org}/projects/{project}/artifacts':
    parameters:
      - $ref: '#/components/parameters/OrgParam'
      - $ref: '#/components/parameters/ProjectParam'
    post:
      summary: List All Artifacts
      operationId: artifactList
      responses:
        '200':
          $ref: '#/components/responses/ArtifactListingResponseBodyV2'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      tags:
        - artifactV2
      description: List artifacts
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Order'
        - $ref: '#/components/parameters/Page'
        - in: query
          description: Parameter on the basis of which sorting is done.
          name: sort
          schema:
            enum:
              - name
              - updated
            default: name
        - schema:
            type: string
            enum:
              - image
              - repository
          in: query
          name: type
          description: Type of artifacts to be listed
          required: true
        - schema:
            type: string
            enum:
              - all
              - latest
            default: all
          in: query
          name: view_mode
          description: Mode in which artifacts should be listed
      security:
        - x-api-key: []
      requestBody:
        $ref: '#/components/requestBodies/ArtifactListingRequestBody'
      x-stoplight:
        id: vei5bhkpoktdd
  '/v1/org/{org}/project/{project}/grouped-artifacts':
    parameters:
      - $ref: '#/components/parameters/OrgParam'
      - $ref: '#/components/parameters/ProjectParam'
    post:
      summary: List All Artifacts
      operationId: listLatestArtifacts
      responses:
        '200':
          $ref: '#/components/responses/ArtifactListingResponseBody'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      tags:
        - artifact
      description: List latest version of all artifacts
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Order'
        - $ref: '#/components/parameters/Page'
        - in: query
          description: Parameter on the basis of which sorting is done.
          name: sort
          schema:
            enum:
              - name
              - updated
            default: name
      security:
        - x-api-key: []
      x-stoplight:
        id: uhn8ew9xe1j4g
  '/v1/org/{org}/project/{project}/artifact/{artifact}/tag/{tag}/components':
    parameters:
      - $ref: '#/components/parameters/OrgParam'
      - $ref: '#/components/parameters/ProjectParam'
      - $ref: '#/components/parameters/Artifact'
      - $ref: '#/components/parameters/Tag'
    post:
      summary: Artifact Detail Component View
      operationId: getArtifactDetailComponentView
      responses:
        '200':
          $ref: '#/components/responses/ArtifactComponentViewResponseBody'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      tags:
        - artifact
      description: Get artifact detail component view
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Order'
        - $ref: '#/components/parameters/Page'
        - in: query
          description: Parameter on the basis of which sorting is done.
          name: sort
          schema:
            enum:
              - package_name
              - package_supplier
            default: package_name
      security:
        - x-api-key: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArtifactComponentViewRequestBody'
      x-stoplight:
        id: iee2ipp3sstch
  '/v1/org/{org}/project/{project}/artifact/{artifact}/tag/{tag}/deployments':
    parameters:
      - $ref: '#/components/parameters/OrgParam'
      - $ref: '#/components/parameters/ProjectParam'
      - $ref: '#/components/parameters/Artifact'
      - $ref: '#/components/parameters/Tag'
    post:
      summary: Artifact Detail Deployment View
      operationId: getArtifactDetailDeploymentView
      responses:
        '200':
          $ref: '#/components/responses/ArtifactDeploymentViewResponseBody'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
        default:
          $ref: '#/components/responses/ArtifactDeploymentViewResponseBody'
      tags:
        - artifact
      description: Get artifact detail deployment view
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Order'
        - $ref: '#/components/parameters/Page'
        - in: query
          description: Parameter on the basis of which sorting is done.
          name: sort
          schema:
            enum:
              - env_name
              - env_type
            default: env_name
      security:
        - x-api-key: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArtifactDeploymentViewRequestBody'
        description: ''
      x-stoplight:
        id: 8ivdhaqr6wnc0
  '/v1/org/{org}/project/{project}/artifact/{artifact}/tag/{tag}/details':
    parameters:
      - $ref: '#/components/parameters/OrgParam'
      - $ref: '#/components/parameters/ProjectParam'
      - $ref: '#/components/parameters/Artifact'
      - $ref: '#/components/parameters/Tag'
    get:
      summary: Artifact Details
      operationId: getArtifactDetails
      responses:
        '200':
          $ref: '#/components/responses/ArtifactDetailResponseBody'
        '201':
          description: Created
        '400':
          description: Bad Request
      description: Get artifact details
      security:
        - x-api-key: []
      tags:
        - artifact
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      x-stoplight:
        id: sq6emrti1dnvu
  '/v1/org/{org}/project/{project}/orchestration/{orchestration-id}/sbom-scorecard':
    parameters:
      - $ref: '#/components/parameters/OrgParam'
      - $ref: '#/components/parameters/ProjectParam'
      - schema:
          type: string
        name: orchestration-id
        in: path
        required: true
        description: Orchestration ID
    post:
      summary: Save Scorecard
      operationId: saveSbomScorecard
      responses:
        '200':
          $ref: '#/components/responses/SaveResponse'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      x-stoplight:
        id: x9zs9hnpf2qui
      description: Save SBOM Scorecard
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SbomScorecardRequestBody'
        description: ''
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      tags:
        - Scorecard
    get:
      summary: Get Scorecard
      operationId: getSbomScorecard
      responses:
        '200':
          $ref: '#/components/responses/SbomScorecardResponseBody'
        '400':
          description: Bad Request
      x-stoplight:
        id: cogck106pn3l9
      description: Get SBOM Scorecard
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      tags:
        - Scorecard
  '/v1/org/{org}/project/{project}/ssca-config/{config-id}':
    parameters:
      - $ref: '#/components/parameters/OrgParam'
      - $ref: '#/components/parameters/ProjectParam'
      - schema:
          type: string
        name: config-id
        in: path
        required: true
        description: Config ID
    get:
      summary: Get Config By ID
      tags:
        - Config
      responses:
        '200':
          $ref: '#/components/responses/ConfigResponseBody'
        '400':
          description: Bad Request
        '404':
          description: Not Found
      operationId: getConfigById
      x-stoplight:
        id: 91ruzzd1vqr6e
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      description: Get Config By ID
    put:
      summary: Update Config By ID
      operationId: updateConfigById
      responses:
        '200':
          $ref: '#/components/responses/SaveResponse'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      x-stoplight:
        id: 12tag1uia7n1b
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/ConfigRequestBody'
      tags:
        - Config
      description: Update Config By ID
    delete:
      summary: Delete Config By ID
      operationId: deleteConfigById
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
      x-stoplight:
        id: m3pcr58988151
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      tags:
        - Config
      description: Delete Config By ID
  '/v1/org/{org}/project/{project}/ssca-config':
    parameters:
      - $ref: '#/components/parameters/OrgParam'
      - $ref: '#/components/parameters/ProjectParam'
    get:
      summary: List Configs
      tags:
        - Config
      responses:
        '200':
          $ref: '#/components/responses/ListConfigsResponseBody'
        '400':
          description: Bad Request
      operationId: listConfigs
      x-stoplight:
        id: ljdrkcdfh8qub
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Order'
        - schema:
            enum:
              - creation_on
              - config_id
              - name
              - type
            default: name
          in: query
          name: sort
          description: Parameter on the basis of which sorting is done.
      description: List Configs
    post:
      summary: Save Config By ID
      operationId: saveConfig
      responses:
        '201':
          $ref: '#/components/responses/SaveResponse'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      x-stoplight:
        id: 3s3zrcucnfbjp
      description: Save Config By ID
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/ConfigRequestBody'
      tags:
        - Config
  '/v1/org/{org}/project/{project}/ssca-config/{name}/type/{type}':
    parameters:
      - $ref: '#/components/parameters/OrgParam'
      - $ref: '#/components/parameters/ProjectParam'
      - schema:
          type: string
        name: name
        in: path
        required: true
        description: Config Name
      - schema:
          type: string
        name: type
        in: path
        required: true
        description: Config Id
    get:
      summary: Get Config By Name And Type
      tags:
        - Config
      responses:
        '200':
          $ref: '#/components/responses/ConfigResponseBody'
        '400':
          description: Bad Request
        '404':
          description: Not Found
      operationId: getConfigByNameAndType
      x-stoplight:
        id: dns7c0itdxs24
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      description: Get Config By Name And Type
  /v1/ssca-config/execution-limit/update-config:
    post:
      summary: Save Execution Limits
      operationId: saveExecutionLimitsConfig
      responses:
        '200':
          $ref: '#/components/responses/ExecutionLimitResponseBody'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/ExecutionLimitRequestBody'
      tags:
        - ExecutionLimits
      x-internal: true
  '/v1/orgs/{org}/projects/{project}/artifact/{artifact}/baseline':
    parameters:
      - $ref: '#/components/parameters/OrgParam'
      - $ref: '#/components/parameters/ProjectParam'
      - $ref: '#/components/parameters/Artifact'
    get:
      summary: Get Baseline For Artifact
      tags:
        - Baseline
      responses:
        '200':
          $ref: '#/components/responses/BaselineResponseBody'
      operationId: getBaselineForArtifact
      x-stoplight:
        id: 4ghyhtaj1qcz8
      description: Get the baseline for an artifact
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
    post:
      summary: Set Baseline For Artifact
      operationId: setBaselineForArtifact
      responses:
        '200':
          $ref: '#/components/responses/SaveResponse'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      x-stoplight:
        id: ro0mhka3ykakb
      description: Save the baseline for an artifact
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/BaselineRequestBody'
      tags:
        - Baseline
  '/v1/orgs/{org}/projects/{project}/artifact/{artifact}/sbom-drift':
    parameters:
      - $ref: '#/components/parameters/OrgParam'
      - $ref: '#/components/parameters/ProjectParam'
      - schema:
          type: string
        name: artifact
        in: path
        required: true
        description: Artifact ID
    post:
      summary: Calculate Drift For Artifact
      operationId: calculateDriftForArtifact
      responses:
        '200':
          $ref: '#/components/responses/ArtifactSbomDriftResponseBody'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      x-stoplight:
        id: 3dsr9opyxu1dg
      description: This API calculates and stores drift between 2 versions of an artifact with TTL of 1 hour.
      tags:
        - sbomDrift
      security:
        - x-api-key: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArtifactSbomDriftRequestBody'
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
  '/v1/orgs/{org}/projects/{project}/sbom-drift/{drift}/components':
    parameters:
      - $ref: '#/components/parameters/OrgParam'
      - $ref: '#/components/parameters/ProjectParam'
      - schema:
          type: string
        name: drift
        in: path
        required: true
        description: SBOM Drift ID
    get:
      summary: Get Component Drift
      tags:
        - sbomDrift
      responses:
        '200':
          $ref: '#/components/responses/ComponentDriftResponseBody'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      operationId: getComponentDrift
      x-stoplight:
        id: yrpb128gv7y08
      description: Get component drift for provided drift ID.
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - schema:
            type: string
            enum:
              - all
              - added
              - modified
              - deleted
          in: query
          name: status
          description: Provide status of components drift to be returned
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
        - schema:
            type: string
          in: query
          name: search_term
          description: Search for components by name.
  '/v1/orgs/{org}/projects/{project}/sbom-drift/{drift}/licenses':
    parameters:
      - $ref: '#/components/parameters/OrgParam'
      - $ref: '#/components/parameters/ProjectParam'
      - schema:
          type: string
        name: drift
        in: path
        required: true
        description: SBOM Drift ID
    get:
      summary: Get License Drift
      tags:
        - sbomDrift
      responses:
        '200':
          $ref: '#/components/responses/LicenseDriftResponseBody'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      operationId: getLicenseDrift
      x-stoplight:
        id: 46l29mrkygarx
      description: Get license drift for provided drift ID.
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - schema:
            type: string
            enum:
              - all
              - added
              - deleted
          in: query
          name: status
          description: Provide status of components drift to be returned
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
        - schema:
            type: string
          in: query
          name: search_term
          description: Search for licenses by name.
  '/v1/orgs/{org}/projects/{project}/remediations':
    parameters:
      - $ref: '#/components/parameters/OrgParam'
      - $ref: '#/components/parameters/ProjectParam'
    post:
      summary: Create Remediation Tracker
      tags:
        - Remediation
      responses:
        '200':
          $ref: '#/components/responses/RemediationTrackerCreateResponseBody'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      operationId: createRemediationTracker
      x-stoplight:
        id: 8cdxntj5aqlu3
      description: Create Remediation Tracker.
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/RemediationTrackerCreateRequestBody'
  '/v1/orgs/{org}/projects/{project}/remediations/list':
    parameters:
      - $ref: '#/components/parameters/OrgParam'
      - $ref: '#/components/parameters/ProjectParam'
    post:
      summary: List All Remediation Trackers
      operationId: listRemediations
      responses:
        '200':
          $ref: '#/components/responses/RemediationListingResponseBody'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      tags:
        - Remediation
      description: List all Remediation Trackers.
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Page'
        - in: query
          description: Parameter on the basis of which sorting is done.
          name: sort
          schema:
            enum:
              - component
              - status
              - targetDate
              - contactName
              - cve
              - startTimeMilli
            default: startTimeMilli
        - in: query
          description: Parameter on the basis of which sorting is done.
          name: order
          schema:
            enum:
              - DESC
              - ASC
            default: DESC
      security:
        - x-api-key: []
      requestBody:
        $ref: '#/components/requestBodies/RemediationListingRequestBody'
      x-stoplight:
        id: eb3hi5al80vx3
  '/v1/orgs/{org}/projects/{project}/remediations/{remediation}':
    parameters:
      - $ref: '#/components/parameters/OrgParam'
      - $ref: '#/components/parameters/ProjectParam'
      - schema:
          type: string
        name: remediation
        in: path
        required: true
        description: Remediation Tracker ID
    put:
      summary: Update Remediation Tracker
      operationId: updateRemediationTracker
      responses:
        '200':
          $ref: '#/components/responses/RemediationTrackerUpdateResponseBody'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      x-stoplight:
        id: w3z2s74z0zoeo
      tags:
        - Remediation
      description: Update Remediation Tracker.
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/RemediationTrackerUpdateRequestBody'
  '/v1/orgs/{org}/projects/{project}/remediations/overall-summary':
    parameters:
      - $ref: '#/components/parameters/OrgParam'
      - $ref: '#/components/parameters/ProjectParam'
    get:
      summary: Get Remediation Tracker Overall summary
      tags:
        - Remediation
      responses:
        '200':
          $ref: '#/components/responses/RemediationTrackersOverallSummaryResponseBody'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      operationId: getOverallSummary
      x-stoplight:
        id: 8ie7d2h2woo22
      description: Get Overall summary of Remediation Trackers.
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
  '/v1/orgs/{org}/projects/{project}/orchestration/{orchestration}/sbom-drift':
    parameters:
      - $ref: '#/components/parameters/OrgParam'
      - $ref: '#/components/parameters/ProjectParam'
      - schema:
          type: string
        name: orchestration
        in: path
        required: true
        description: Orchestration Step Execution ID
    post:
      summary: Calculate Drift For Orchestration Step
      tags:
        - orchestrationV2
      responses:
        '200':
          $ref: '#/components/responses/OrchestrationStepDriftResponseBody'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      operationId: calculateDriftForOrchestrationStep
      x-stoplight:
        id: rc1gp55e42zv2
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/OrchestrationStepDriftRequestBody'
      x-internal: true  
  '/v1/orgs/{org}/projects/{project}/remediations/{remediation}/close':
    parameters:
      - $ref: '#/components/parameters/OrgParam'
      - $ref: '#/components/parameters/ProjectParam'
      - schema:
          type: string
        name: remediation
        in: path
        required: true
        description: Remediation Tracker Id
    put:
      summary: Close Remediation Tracker
      tags:
        - Remediation
      responses:
        '200':
          $ref: '#/components/responses/SaveResponse'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      operationId: closeRemediationTracker
      x-stoplight:
        id: oqbepatk6oy12
      description: Close Remediation Tracker.
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
  '/v1/orgs/{org}/projects/{project}/remediations/{remediation}/exclude-artifact':
    parameters:
      - $ref: '#/components/parameters/OrgParam'
      - $ref: '#/components/parameters/ProjectParam'
      - schema:
          type: string
        name: remediation
        in: path
        required: true
        description: Remediation Tracker Id
    put:
      summary: Exclude Artifact from Remediation Tracker
      tags:
        - Remediation
      responses:
        '200':
          $ref: '#/components/responses/SaveResponse'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      operationId: excludeArtifact
      x-stoplight:
        id: lk8f6jp6okqvf
      description: Exclude Artifact From Remediation Tracker.
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/ExcludeArtifactRequestBody'
  '/v1/orgs/{org}/projects/{project}/remediations/{remediation}/details':
    parameters:
      - $ref: '#/components/parameters/OrgParam'
      - $ref: '#/components/parameters/ProjectParam'
      - schema:
          type: string
        name: remediation
        in: path
        required: true
        description: Remediation Tracker Id
    get:
      summary: Get Remediation Details.
      tags:
        - Remediation
      responses:
        '200':
          $ref: '#/components/responses/RemediationDetailsResponseBody'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      operationId: getRemediationDetails
      x-stoplight:
        id: qhd60cfh35chp
      description: Get Remediation Details.
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
  '/v1/orgs/{org}/projects/{project}/remediations/{remediation}/artifacts':
    parameters:
      - $ref: '#/components/parameters/OrgParam'
      - $ref: '#/components/parameters/ProjectParam'
      - schema:
          type: string
        name: remediation
        in: path
        required: true
        description: Remediation Tracker Id
    post:
      summary: Get Artifact List for Remediations.
      tags:
        - Remediation
      responses:
        '200':
          $ref: '#/components/responses/RemediationArtifactListingResponseBody'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      operationId: getArtifactListForRemediation
      x-stoplight:
        id: rii0dp21qz04b
      description: Get Remediation Details.
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Page'
      requestBody:
        $ref: '#/components/requestBodies/RemediationArtifactListingRequestBody'
  '/v1/orgs/{org}/projects/{project}/remediations/{remediation}/artifacts/{artifact}/environments':
    parameters:
      - $ref: '#/components/parameters/OrgParam'
      - $ref: '#/components/parameters/ProjectParam'
      - schema:
          type: string
        name: remediation
        in: path
        required: true
        description: Remediation Tracker Id
      - schema:
          type: string
        name: artifact
        in: path
        required: true
        description: Artifact Id
    get:
      summary: Get Environment List for Artifact In Remediation.
      tags:
        - Remediation
      responses:
        '200':
          $ref: '#/components/responses/RemediationEnvironmentResponseBody'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      operationId: getEnvironmentListForRemediation
      x-stoplight:
        id: 477pmu269635q
      description: Get All Environments impacted with Remediation.
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/EnvType'
  '/v1/orgs/{org}/projects/{project}/remediations/{remediation}/artifacts/{artifact}/details':
    parameters:
      - $ref: '#/components/parameters/OrgParam'
      - $ref: '#/components/parameters/ProjectParam'
      - schema:
          type: string
        name: remediation
        in: path
        required: true
        description: Remediation Tracker Id
      - schema:
          type: string
        name: artifact
        in: path
        required: true
        description: Artifact Id
    get:
      summary: Get Details of a Artifact in a Remediation Tracker.
      tags:
        - Remediation
      responses:
        '200':
          $ref: '#/components/responses/RemediationArtifactDetailResponseBody'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      operationId: getArtifactInRemediationDetails
      x-stoplight:
        id: acya1h6k59vo7
      description: Get Details of a Artifact in a Remediation Tracker.
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
  '/v1/orgs/{org}/projects/{project}/remediations/{remediation}/artifacts/{artifact}/deployments':
    parameters:
      - $ref: '#/components/parameters/OrgParam'
      - $ref: '#/components/parameters/ProjectParam'
      - schema:
          type: string
        name: remediation
        in: path
        required: true
        description: Remediation Tracker Id
      - schema:
          type: string
        name: artifact
        in: path
        required: true
        description: Artifact Id
    post:
      summary: Get Deployments List for Artifact In Remediation.
      tags:
        - Remediation
      responses:
        '200':
          $ref: '#/components/responses/RemediationArtifactDeploymentsListingResponseBody'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      operationId: getDeploymentsListForArtifactInRemediation
      x-stoplight:
        id: hstty9r60f0di
      description: Get Deployments List for Artifact In Remediation.
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Page'
      requestBody:
        $ref: '#/components/requestBodies/RemediationArtifactDeploymentsListingRequestBody'
  '/v1/orgs/{org}/projects/{project}/remediations/{remediation}/create-ticket':
    post:
      summary: Create Ticket
      operationId: createTicket
      responses:
        '201':
          $ref: '#/components/responses/CreateTicketResponseBody'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      x-stoplight:
        id: 330euzylehvhl
      description: Create Ticket
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/CreateTicketRequestBody'
      tags:
        - Remediation
      security:
        - x-api-key: []
    parameters:
      - $ref: '#/components/parameters/ProjectParam'
      - schema:
          type: string
        name: remediation
        in: path
        required: true
        description: Remediation Tracker ID
      - $ref: '#/components/parameters/OrgParam'
  '/v1/orgs/{org}/projects/{project}/remediations/check-artifacts':
    post:
      summary: Check Artifacts And Deployments
      operationId: checkArtifactAndDeployments
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArtifactAndDeploymentsResponseBody'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      x-stoplight:
        id: t98vm7wz7n0eq
      description: Check Artifacts And Deployments.
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/RemediationTrackerCreateRequestBody'
      tags:
        - Remediation
    parameters:
      - $ref: '#/components/parameters/OrgParam'
      - $ref: '#/components/parameters/ProjectParam'
  '/v1/orgs/{org}/projects/{project}/exemptions':
    parameters:
      - $ref: '#/components/parameters/OrgParam'
      - $ref: '#/components/parameters/ProjectParam'
    get:
      summary: List exemptions for project
      tags:
        - exemptions
      responses:
        '200':
          $ref: '#/components/responses/ExemptionListResponseDTO'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      operationId: listExemptionsForProject
      x-stoplight:
        id: 9rlhvfejqah63
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Page'
        - schema:
            type: array
            items:
              $ref: '#/components/schemas/ExemptionStatusDTO'
          in: query
          name: status
          description: 'status of the exemption, all statuses will be returned if this is null'
        - schema:
            type: string
          in: query
          name: artifact_id
          description: 'artifactId of the exemption, only applicable for exemptions with ARTIFACT scope'
        - schema:
            type: string
          in: query
          name: search_term
          description: Search for exemptions by name
      description: List exemptions for project
    post:
      summary: Create exemption for project
      tags:
        - exemptions
      operationId: createExemptionForProject
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExemptionResponseDTO'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      x-stoplight:
        id: bgtzrf9osfkqt
      description: Create exemption for project
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExemptionRequestDTO'
  '/v1/orgs/{org}/projects/{project}/artifacts/{artifact}/exemptions':
    parameters:
      - $ref: '#/components/parameters/ProjectParam'
      - $ref: '#/components/parameters/OrgParam'
      - $ref: '#/components/parameters/Artifact'
    post:
      summary: Create exemption for artifact
      operationId: createExemptionForArtifact
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExemptionResponseDTO'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      description: Create exemption for artifact
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExemptionRequestDTO'
      x-stoplight:
        id: gnrf5uwmpc5nq
      tags:
        - exemptions
  '/v1/orgs/{org}/projects/{project}/exemptions/{exemption}':
    parameters:
      - $ref: '#/components/parameters/OrgParam'
      - $ref: '#/components/parameters/ProjectParam'
      - $ref: '#/components/parameters/Exemption'
    get:
      summary: Get exemption for project
      tags:
        - exemptions
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExemptionResponseDTO'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      operationId: getExemptionForProject
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      description: Get exemption for project
      x-stoplight:
        id: doij0dtepyqtg
    put:
      summary: Update exemption for project
      operationId: updateExemptionForProject
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExemptionResponseDTO'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      x-stoplight:
        id: 10lshl289t84n
      description: Update exemption for project
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExemptionRequestDTO'
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      tags:
        - exemptions
    delete:
      summary: Delete exemption for project
      operationId: deleteExemptionForProject
      responses:
        '204':
          description: ''
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      x-stoplight:
        id: 5rkc3a8lvyqa5
      description: Delete exemption for project
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      tags:
        - exemptions
  '/v1/orgs/{org}/projects/{project}/artifacts/{artifact}/exemptions/{exemption}':
    parameters:
      - $ref: '#/components/parameters/OrgParam'
      - $ref: '#/components/parameters/ProjectParam'
      - $ref: '#/components/parameters/Exemption'
      - $ref: '#/components/parameters/Artifact'
    get:
      summary: Get exemption for artifact
      tags:
        - exemptions
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExemptionResponseDTO'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      operationId: getExemptionForArtifact
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      description: Get exemption for artifact
      x-stoplight:
        id: 47eka1spqllsf
    put:
      summary: Update exemption for artifact
      operationId: updateExemptionForArtifact
      tags:
        - exemptions
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExemptionResponseDTO'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      description: Update exemption for artifact
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExemptionRequestDTO'
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      x-stoplight:
        id: wo6x8cpwhbq3m
    delete:
      summary: Delete exemption for artifact
      operationId: deleteExemptionForArtifact
      tags:
        - exemptions
      responses:
        '204':
          description: ''
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      description: Delete exemption for artifact
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      x-stoplight:
        id: m4w47h5007z2e
  '/v1/orgs/{org}/projects/{project}/exemptions/{exemption}/review':
    parameters:
      - $ref: '#/components/parameters/OrgParam'
      - $ref: '#/components/parameters/ProjectParam'
      - $ref: '#/components/parameters/Exemption'
    put:
      summary: Review exemption for project
      tags:
        - exemptions
      operationId: reviewExemptionForProject
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExemptionResponseDTO'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      x-stoplight:
        id: l079e2dbui1m8
      description: Review exemption for project
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExemptionReviewRequestDTO'
  '/v1/orgs/{org}/projects/{project}/artifacts/{artifact}/exemptions/{exemption}/review':
    parameters:
      - $ref: '#/components/parameters/OrgParam'
      - $ref: '#/components/parameters/ProjectParam'
      - $ref: '#/components/parameters/Exemption'
      - $ref: '#/components/parameters/Artifact'
    put:
      summary: Review exemption for artifact
      operationId: reviewExemptionForArtifact
      tags:
        - exemptions
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExemptionResponseDTO'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      description: Review exemption for artifact
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      x-stoplight:
        id: 2guw8lpxf9fwg
      requestBody:
        description: Shared Request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExemptionReviewRequestDTO'
  '/v1/orgs/{org}/projects/{project}/components':
    get:
      summary: Get components for project
      tags:
        - component
      responses:
        '200':
          $ref: '#/components/responses/ComponentListResponseBody'
      operationId: getComponents
      x-stoplight:
        id: up0ge2m05ccdv
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - schema:
            type: string
          in: query
          name: search_term
          description: Search for components by name.
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Order'
        - $ref: '#/components/parameters/Page'
    parameters:
      - $ref: '#/components/parameters/OrgParam'
      - $ref: '#/components/parameters/ProjectParam'
  '/v1/orgs/{org}/projects/{project}/pipelines/{pipeline}/executions/{execution}/ssca-summary':
    parameters:
      - $ref: '#/components/parameters/OrgParam'
      - $ref: '#/components/parameters/ProjectParam'
      - schema:
          type: string
        name: pipeline
        in: path
        required: true
        description: Harness pipeline ID
      - schema:
          type: string
        name: execution
        in: path
        required: true
        description: Harness execution ID
    get:
      summary: Get Summary for SSCA Tab
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SSCASummary'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      operationId: getSSCASummary
      x-stoplight:
        id: o6bx01jzbku58
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      tags:
        - sscaPipelineView
  '/v1/orgs/{org}/projects/{project}/pipelines/{pipeline}/executions/{execution}/artifacts':
    parameters:
      - $ref: '#/components/parameters/OrgParam'
      - $ref: '#/components/parameters/ProjectParam'
      - schema:
          type: string
        name: pipeline
        in: path
        required: true
        description: Harness pipeline ID
      - schema:
          type: string
        name: execution
        in: path
        required: true
        description: Harness execution ID
    post:
      summary: Get Artifact List for Pipeline View
      responses:
        '200':
          $ref: '#/components/responses/ArtifactListingResponsePipelineBody'
      operationId: getPipelineArtifactList
      x-stoplight:
        id: egrnx9jyyfjxz
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/ArtifactListingPipelineRequestBody'
      tags:
        - sscaPipelineView
  /v1/license/ssca/usage:
    post:
      summary: SSCA module license usage
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LicenseUsageResponse'
      operationId: sscaLicenseUsage
      x-stoplight:
        id: 5wyzib9dvtg21
      description: SSCA module license usage
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - schema:
            type: integer
            format: int64
          in: query
          name: timestamp
          description: current time
      tags:
        - LicenseUsageResource
  '/v1/orgs/{org}/projects/{project}/provenance/{provenance}':
    parameters:
      - $ref: '#/components/parameters/OrgParam'
      - $ref: '#/components/parameters/ProjectParam'
      - schema:
          type: string
        name: provenance
        in: path
        required: true
        description: Provenance Id
    servers: []
    post:
      summary: Save Provenance
      tags:
        - Slsa
      responses:
        '200':
          $ref: '#/components/responses/SaveResponse'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      operationId: saveProvenance
      x-stoplight:
        id: qxnsz67gv81xu
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/ProvenanceRequestBody'
    get:
      summary: Get Provenance
      tags:
        - Slsa
      responses:
        '200':
          $ref: '#/components/responses/ProvenanceResponseBody'
      operationId: getProvenance
      x-stoplight:
        id: x30g28thstz3g
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
  '/v2/orgs/{org}/projects/{project}/provenance/{provenance}':
    parameters:
      - $ref: '#/components/parameters/OrgParam'
      - $ref: '#/components/parameters/ProjectParam'
      - $ref: '#/components/parameters/ProvenanceId'
    servers: []
    post:
      summary: Save Provenance
      tags:
        - slsaV2
      responses:
        '200':
          $ref: '#/components/responses/SaveResponse'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      operationId: saveProvenanceV2
      x-stoplight:
        id: qxnsz67gv81xu
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/ProvenanceRequestBodyV2'
  '/v1/orgs/{org}/projects/{project}/slsa-verification/{provenance}':
    parameters:
      - $ref: '#/components/parameters/OrgParam'
      - $ref: '#/components/parameters/ProjectParam'
      - schema:
          type: string
        name: provenance
        in: path
        required: true
        description: Provenance Id
    post:
      summary: Save SLSA Verification Status
      tags:
        - Slsa
      responses:
        '200':
          $ref: '#/components/responses/SaveResponse'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      operationId: saveSlsaVerification
      x-stoplight:
        id: 3fps8yinohu8r
      requestBody:
        $ref: '#/components/requestBodies/SLSAVerificationRequestBody'
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
  '/v2/orgs/{org}/projects/{project}/slsa-verification/{provenance}':
    parameters:
      - $ref: '#/components/parameters/OrgParam'
      - $ref: '#/components/parameters/ProjectParam'
      - $ref: '#/components/parameters/ProvenanceId'
    post:
      summary: Save SLSA Verification Status
      tags:
        - slsaV2
      responses:
        '200':
          $ref: '#/components/responses/SaveResponse'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      operationId: saveSlsaVerificationV2
      x-stoplight:
        id: 3fps8yinohu8r
      requestBody:
        $ref: '#/components/requestBodies/SLSAVerificationRequestBodyV2'
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
  '/v1/orgs/{org}/projects/{project}/slsa-verification/{provenance}/policy-violations':
    parameters:
      - $ref: '#/components/parameters/OrgParam'
      - $ref: '#/components/parameters/ProjectParam'
      - schema:
          type: string
        name: provenance
        in: path
        required: true
        description: Provenance Id
    post:
      summary: Save SLSA Policy Violation
      tags:
        - Slsa
      responses:
        '200':
          $ref: '#/components/responses/SaveResponse'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      operationId: saveSlsaPolicyViolations
      x-stoplight:
        id: y5ntvtrr1fr5v
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/PolicyViolationRequestBody'
  '/v1/orgs/{org}/projects/{project}/orchestration/{orchestration-id}/sbom-upload':
    parameters:
      - $ref: '#/components/parameters/OrgParam'
      - $ref: '#/components/parameters/ProjectParam'
      - schema:
          type: string
        name: orchestration-id
        in: path
        required: true
        description: Orchestration Identifier
    servers: []
    post:
      summary: Upload SBOM
      tags:
        - orchestrationV2
      responses:
        '201':
          description: Created
      operationId: uploadSbom
      x-stoplight:
        id: nu31o2ljat7wm
      description: Upload SBOM for an orchestration run
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - sbom
                - execution_context
              properties:
                sbom:
                  type: string
                  x-stoplight:
                    id: q6xx2x2hw7izu
                  format: binary
                  writeOnly: true
                execution_context:
                  $ref: '#/components/schemas/ExecutionContext'
                sbom_name:
                  type: string
                  x-stoplight:
                    id: x2y8o4pdp79wh
      security:
        - x-api-key: []
      x-internal: true  
  '/v2/orgs/{org}/projects/{project}/orchestration/{orchestration}/sbom-upload':
    parameters:
      - $ref: '#/components/parameters/OrgParam'
      - $ref: '#/components/parameters/ProjectParam'
      - $ref: '#/components/parameters/OrchestrationId'
    servers: []
    post:
      summary: Upload SBOM
      tags:
        - orchestrationV3
      responses:
        '201':
          description: Shared Response
      operationId: uploadSbomV2
      x-stoplight:
        id: nu31o2ljat7wm
      description: Upload SBOM for an orchestration run
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - sbom
                - execution_context
              properties:
                sbom:
                  type: string
                  x-stoplight:
                    id: q6xx2x2hw7izu
                  format: binary
                  writeOnly: true
                execution_context:
                  $ref: '#/components/schemas/ExecutionDetail'
                sbom_name:
                  type: string
                  x-stoplight:
                    id: x2y8o4pdp79wh
      security:
        - x-api-key: []
  '/v1/orgs/{org}/projects/{project}/orchestration/{orchestration-id}':
    parameters:
      - $ref: '#/components/parameters/OrgParam'
      - $ref: '#/components/parameters/ProjectParam'
      - schema:
          type: string
        name: orchestration-id
        in: path
        required: true
        description: Orchestration ID for SBOM orchestration
    post:
      summary: Save Orchestration
      tags:
        - orchestrationV2
      responses:
        '201':
          $ref: '#/components/responses/SaveOrchestrationResponseBody'
        '400':
          description: Bad Request
      operationId: saveOrchestration
      x-stoplight:
        id: z435nplrowm4h
      requestBody:
        $ref: '#/components/requestBodies/SaveOrchestrationRequestBody'
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      security:
        - x-api-key: []
      x-internal: true  
  '/v2/orgs/{org}/projects/{project}/orchestration/{orchestration}':
    parameters:
      - $ref: '#/components/parameters/OrgParam'
      - $ref: '#/components/parameters/ProjectParam'
      - $ref: '#/components/parameters/OrchestrationId'
    post:
      summary: Save Orchestration
      tags:
        - orchestrationV3
      responses:
        '201':
          $ref: '#/components/responses/PluginResponseBody'
        '400':
          description: Bad Request
      operationId: saveOrchestrationV2
      x-stoplight:
        id: z435nplrowm4h
      requestBody:
        $ref: '#/components/requestBodies/SaveOrchestrationRequestBodyV2'
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      security:
        - x-api-key: []
  /v1/base-image/details:
    post:
      summary: Get Base Image Details
      tags:
        - baseImage
      responses:
        '200':
          $ref: '#/components/responses/ArtifactComponentsResponseBody'
      operationId: getBaseImageDetails
      x-stoplight:
        id: shm18amspn3g5
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/ArtifactComponentsRequestBody'
  '/v1/orgs/{org}/projects/{project}/integration':
    parameters:
      - $ref: '#/components/parameters/OrgParam'
      - $ref: '#/components/parameters/ProjectParam'
    get:
      summary: List Integrations
      tags:
        - integration
      responses:
        '200':
          $ref: '#/components/responses/IntegrationListingResponseBody'
      operationId: listIntegrations
      x-stoplight:
        id: n7g2q1eq0msdv
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Order'
        - $ref: '#/components/parameters/Page'
        - schema:
            type: string
            enum:
              - ACTIVE
              - INACTIVE
          in: query
          name: status
          description: Status of the integration
        - schema:
            type: string
          in: query
          name: search_term
          description: integration org search
        - schema:
            type: string
            enum:
              - last_scan
            default: last_scan
          in: query
          name: sort
          description: sort order
      x-internal: true    
    post:
      summary: Create Integration
      tags:
        - integration
      responses:
        '200':
          $ref: '#/components/responses/CreateIntegrationResponseBody'
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Acceptable
        '400':
          description: Bad Request
        '401':
          description: Unauthorized  
        '500':
          description: Internal Server Error   
      operationId: createIntegration
      x-stoplight:
        id: srinp2ibtwp8o
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/CreateIntegrationRequestBody'
      x-internal: false  
  '/v1/orgs/{org}/projects/{project}/compliance-standards':
    parameters:
      - $ref: '#/components/parameters/OrgParam'
      - $ref: '#/components/parameters/ProjectParam'
    post:
      summary: Create Compliance Standards
      responses:
        '200':
          description: Shared Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ComplianceCheck'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      operationId: createComplianceStandards
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/CreateComplianceStandardRequestBody'
      description: Create Compliance Standards
      x-stoplight:
        id: w7t7slwx4bpyp
      tags:
        - ComplianceStandards
  '/v1/orgs/{org}/projects/{project}/compliance-results/list':
    parameters:
      - $ref: '#/components/parameters/OrgParam'
      - $ref: '#/components/parameters/ProjectParam'
    post:
      summary: Fetch Compliance Results
      responses:
        '200':
          $ref: '#/components/responses/FetchComplianceResultResponseBody'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      operationId: fetchComplianceResults
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
      requestBody:
        $ref: '#/components/requestBodies/FetchComplianceResultRequestBody'
      description: Fetch Compliance Results
      x-stoplight:
        id: i0heiwkbw253d
      tags:
        - ComplianceResults
  '/v1/orgs/{org}/projects/{project}/compliance-results/compliances':
    parameters:
      - $ref: '#/components/parameters/OrgParam'
      - $ref: '#/components/parameters/ProjectParam'
    post:
      summary: Fetch Compliance Results Checks
      responses:
        '200':
          $ref: '#/components/responses/ComplianceResultsGroupByComplianceIdResponseBody'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      operationId: fetchComplianceResultsGroupById
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Order'
        - schema:
            type: string
            enum:
              - severity
          in: query
          name: sort
          description: sort entity
        - schema:
            type: string
          in: query
          name: start_time
          description: 'Start time for the query, accepts timestamp epoch UTC'
        - schema:
            type: string
          in: query
          name: end_time
          description: 'End time for the query, accepts timestamp epoch UTC'
      requestBody:
        $ref: '#/components/requestBodies/FetchComplianceResultRequestBody'
      description: fetch Compliance Results GroupById
      tags:
        - ComplianceResults
      x-stoplight:
        id: jswpohsezov5y
  '/v1/orgs/{org}/projects/{project}/compliance-results/compliances/{compliance}/artifacts':
    parameters:
      - $ref: '#/components/parameters/OrgParam'
      - $ref: '#/components/parameters/ProjectParam'
      - schema:
          type: string
        name: compliance
        in: path
        required: true
        description: compliance ID
    get:
      summary: Fetch Compliance Result By Compliance Id
      tags:
        - ComplianceResults
      responses:
        '200':
          $ref: '#/components/responses/FetchArtifactsByComplianceIdResponseBody'
        '500':
          description: Internal Server Error
      operationId: fetchComplianceResultsByComplianceId
      x-stoplight:
        id: i0e7u125rfvdr
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Order'
        - schema:
            type: string
            enum:
              - repo_name
              - updated
              - status
          in: query
          name: sort
          description: sort order
        - schema:
            type: string
          in: query
          name: search_term
          description: artifact name search
  '/v1/orgs/{org}/projects/{project}/compliance-results':
    parameters:
      - $ref: '#/components/parameters/OrgParam'
      - $ref: '#/components/parameters/ProjectParam'
    post:
      summary: Save Compliance Results
      responses:
        '200':
          description: Shared Response
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      operationId: saveComplianceResult
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/CreateComplianceResultRequestBody'
      description: Save Compliance Results
      tags:
        - ComplianceResults
      x-stoplight:
        id: 49usqlvlug1m6
  '/v2/orgs/{org}/projects/{project}/compliance-results':
    parameters:
      - $ref: '#/components/parameters/OrgParam'
      - $ref: '#/components/parameters/ProjectParam'
    post:
      summary: Save Compliance Results
      responses:
        '200':
          description: Empty Response
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      operationId: saveComplianceResultV2
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        description: Create Compliance Results Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateComplianceResultV2'
      description: Save Compliance Results
      tags:
        - ComplianceResultsV2
      x-stoplight:
        id: sjyebgk7vdobd
  '/v1/orgs/{org}/projects/{project}/compliance-standards/list':
    parameters:
      - $ref: '#/components/parameters/OrgParam'
      - $ref: '#/components/parameters/ProjectParam'
    post:
      summary: Fetch Compliance Standards
      responses:
        '200':
          $ref: '#/components/responses/ComplianceStandardsResponseBody'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      operationId: getComplianceStandards
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Order'
        - schema:
            type: string
          in: query
          name: sort
          description: Parameter on the basis of which sorting is done.
      requestBody:
        $ref: '#/components/requestBodies/ComplianceStandardsRequestBody'
      x-stoplight:
        id: ba1j9fp38rjbh
      description: Fetch Compliance Standards
      tags:
        - ComplianceStandards
  '/v1/orgs/{org}/projects/{project}/compliance-standards/compliances/{compliance}':
    parameters:
      - $ref: '#/components/parameters/OrgParam'
      - $ref: '#/components/parameters/ProjectParam'
      - schema:
          type: string
        name: compliance
        in: path
        required: true
        description: compliance Id
    get:
      summary: Get Compliance Standard By Id
      tags:
        - complianceStandards
      responses:
        '200':
          $ref: '#/components/responses/ComplianceStandardByIdResponseBody'
      operationId: getCompliaceStandardById
      x-stoplight:
        id: pm3x5ic04amhd
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
  '/v1/orgs/{org}/projects/{project}/integration/{integration}/fetch-repos':
    parameters:
      - $ref: '#/components/parameters/OrgParam'
      - $ref: '#/components/parameters/ProjectParam'
      - schema:
          type: string
        name: integration
        in: path
        required: true
        description: Integration ID
    get:
      summary: Get all repos from github app
      tags:
        - integration
      responses:
        '200':
          $ref: '#/components/responses/FetchIntegrationReposResponseBody'
      operationId: fetchReposInIntegration
      x-stoplight:
        id: ux0nso6255a3y
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/SearchTerm'
      x-internal: true  
  '/v1/orgs/{org}/projects/{project}/integration/{integration}/repos':
    parameters:
      - $ref: '#/components/parameters/OrgParam'
      - $ref: '#/components/parameters/ProjectParam'
      - schema:
          type: string
        name: integration
        in: path
        required: true
        description: A unique identifier for the integration created using the Create Integration API. This ID is returned in the response of the Create Integration API and must be provided as a path parameter when fetching integration details or repositories.
    get:
      summary: Get configured repos in the integration
      tags:
        - integration
      responses:
        '200':
          $ref: '#/components/responses/ListIntegrationReposResponseBody'
      operationId: getIntegrationRepos
      x-stoplight:
        id: ausvqq25jx0w8
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      x-internal: true  
    post:
      summary: Configure repos in your integration
      tags:
        - integration
      responses:
        '200':
          $ref: '#/components/responses/UpdateIntegrationResponseBody'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized  
        '500':
          description: Internal Server Error  
      operationId: configureRepos
      x-stoplight:
        id: amik8vh9jyz77
      security:
        - x-api-key: []
      requestBody:
        $ref: '#/components/requestBodies/ConfigureReposRequest'
      x-internal: false  
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
  '/v1/orgs/{org}/projects/{project}/artifact-sources':
    parameters:
      - $ref: '#/components/parameters/OrgParam'
      - $ref: '#/components/parameters/ProjectParam'
    post:
      summary: List Artifact Sources
      operationId: listArtifactSources
      responses:
        '200':
          $ref: '#/components/responses/ArtifactSourcesListingResponse'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      tags:
        - artifactListing
      description: List Artifact Sources and associated artifacts count
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Order'
        - $ref: '#/components/parameters/Page'
        - in: query
          description: Parameter on the basis of which sorting is done.
          name: sort
          schema:
            enum:
              - name
      security:
        - x-api-key: []
      x-stoplight:
        id: y2ehf0ax5nsh8
      requestBody:
        $ref: '#/components/requestBodies/ArtifactListingRequestBody'
  '/v1/orgs/{org}/projects/{project}/artifact-sources/{source}/artifacts':
    parameters:
      - $ref: '#/components/parameters/OrgParam'
      - $ref: '#/components/parameters/ProjectParam'
      - schema:
          type: string
        name: source
        in: path
        required: true
        description: Artifact Source Id
    post:
      summary: List All Artifacts
      operationId: artifactListV2
      responses:
        '200':
          $ref: '#/components/responses/ArtifactV2ListingResponseBody'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      description: List artifacts
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Page'
        - in: query
          description: Parameter on the basis of which sorting is done.
          name: sort
          schema:
            enum:
              - updated
        - $ref: '#/components/parameters/OrderDefaultDesc'
      security:
        - x-api-key: []
      requestBody:
        $ref: '#/components/requestBodies/ArtifactListingRequestBody'
      x-stoplight:
        id: 25gnwq5h8o5ho
      tags:
        - artifactListing
  '/v1/orgs/{org}/projects/{project}/artifacts/{artifact}/components':
    parameters:
      - $ref: '#/components/parameters/OrgParam'
      - $ref: '#/components/parameters/ProjectParam'
      - $ref: '#/components/parameters/Artifact'
    post:
      summary: ArtifactV2 Detail Component View
      tags:
        - artifactListing
      responses:
        '200':
          $ref: '#/components/responses/ArtifactComponentViewResponseBody'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      operationId: getArtifactV2DetailComponentView
      x-stoplight:
        id: kr7bsdqea6udo
      description: Get artifactV2 detail component view
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Order'
        - $ref: '#/components/parameters/Page'
        - in: query
          description: Parameter on the basis of which sorting is done.
          name: sort
          schema:
            type: string
            enum:
              - package_name
              - package_supplier
            default: package_name
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArtifactComponentViewRequestBody'
        description: ArtifactV2 Component View Request Body.
  '/v1/orgs/{org}/projects/{project}/artifact-sources/{source}/baseline':
    parameters:
      - $ref: '#/components/parameters/OrgParam'
      - $ref: '#/components/parameters/ProjectParam'
      - schema:
          type: string
        name: source
        in: path
        required: true
        description: Artifact Source ID
    post:
      summary: Set Baseline For Artifact
      operationId: setBaselineForArtifactV2
      responses:
        '200':
          $ref: '#/components/responses/SaveResponse'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      x-stoplight:
        id: 8zhwp073nwqqn
      description: Save the baseline for an artifact
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/BaselineV2RequestBody'
      tags:
        - BaselineV2
  '/v1/orgs/{org}/projects/{project}/artifacts/{artifact}/deployments':
    parameters:
      - $ref: '#/components/parameters/OrgParam'
      - $ref: '#/components/parameters/ProjectParam'
      - $ref: '#/components/parameters/Artifact'
    post:
      summary: Artifact Detail Deployment View
      operationId: getArtifactV2DetailDeploymentView
      responses:
        '200':
          $ref: '#/components/responses/ArtifactDeploymentViewResponseBody'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
        default:
          $ref: '#/components/responses/ArtifactDeploymentViewResponseBody'
      description: Get artifactV2 detail deployment view
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Order'
        - $ref: '#/components/parameters/Page'
        - in: query
          description: Parameter on the basis of which sorting is done.
          name: sort
          schema:
            enum:
              - env_name
              - env_type
            default: env_name
      security:
        - x-api-key: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArtifactDeploymentViewRequestBody'
        description: Get artifactV2 detail deployment view.
      x-stoplight:
        id: af9upcbwjbi8t
      tags:
        - artifactListing
  '/v1/orgs/{org}/projects/{project}/artifact/{artifact}/compliance-results/list':
    parameters:
      - $ref: '#/components/parameters/OrgParam'
      - $ref: '#/components/parameters/ProjectParam'
      - $ref: '#/components/parameters/Artifact'
    post:
      summary: Fetch compliance result by artifact
      tags:
        - ComplianceResults
      responses:
        '200':
          $ref: '#/components/responses/FetchComplianceResultByArtifactResponse'
      operationId: fetchComplianceResultsByArtifact
      x-stoplight:
        id: obqv1cnxcb7ur
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Order'
        - in: query
          name: sort
          description: Parameter on the basis of which sorting is done.
          schema:
            enum:
              - title
              - severity
            type: string
      requestBody:
        $ref: '#/components/requestBodies/FetchComplianceResultByArtifactRequestBody'
      security:
        - x-api-key: []
  '/v1/orgs/{org}/projects/{project}/integration/{integration}':
    parameters:
      - $ref: '#/components/parameters/OrgParam'
      - $ref: '#/components/parameters/ProjectParam'
      - schema:
          type: string
        name: integration
        in: path
        required: true
        description: Integration ID
    delete:
      summary: Delete Integration
      tags:
        - integration
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized  
        '500':
          description: Internal Server Error
      operationId: deleteIntegration
      x-stoplight:
        id: spufhrt5hdms2
      security:
        - x-api-key: []
      x-internal: false  
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
  '/v1/orgs/{org}/projects/{project}/artifact-sources/{source}/artifacts/{artifact}/overview':
    parameters:
      - $ref: '#/components/parameters/OrgParam'
      - $ref: '#/components/parameters/ProjectParam'
      - $ref: '#/components/parameters/Artifact'
      - schema:
          type: string
        name: source
        in: path
        required: true
        description: Artifact Source Id
    get:
      summary: ArtifactV2 Overview
      tags:
        - artifactListing
      responses:
        '200':
          description: Example response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArtifactV2Overview'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      operationId: getArtifactV2Overview
      x-stoplight:
        id: nj4qgvn5l5j53
      description: Get ArtifactV2 Overview
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
  '/v1/orgs/{org}/projects/{project}/artifact-overview':
    parameters:
      - $ref: '#/components/parameters/OrgParam'
      - $ref: '#/components/parameters/ProjectParam'
      - $ref: '#/components/parameters/AccountHeader'
    get:
      summary: ArtifactV2 Overview
      tags:
        - artifactListing
      responses:
        '200':
          description: Example response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArtifactV2Overview'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      operationId: getArtifactV2OverviewByName
      x-stoplight:
        id: o6y0qpoj9lk5u
      description: 'Get ArtifactV2 by image name, tag and digest'
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - schema:
            type: string
          in: query
          name: digest
          required: true
          description: Digest of the artifact
        - schema:
            type: string
          in: query
          name: registry_url
          description: Registry url
          required: true
        - schema:
            type: string
          in: query
          name: image_name
          description: Image name of the artifact
          required: true
  /v1/configs/pipeline:
    post:
      summary: Update Pipeline Config
      tags:
        - accountConfigs
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      operationId: updatePipelineConfig
      x-stoplight:
        id: ql612lzxrh55y
      description: This API will update the pipeline config for an account.
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/PipelineConfigUpdateRequestBody'
    parameters:
      - $ref: '#/components/parameters/AccountHeader'
  '/v1/orgs/{org}/projects/{project}/code-repos/list':
    parameters:
      - $ref: '#/components/parameters/OrgParam'
      - $ref: '#/components/parameters/ProjectParam'
    post:
      summary: List All Code Repositories
      operationId: codeRepositoriesList
      responses:
        '200':
          $ref: '#/components/responses/CodeRepositoryListingResponseBody'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      tags:
        - codeRepo
      description: List Code Repositories
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Order'
        - $ref: '#/components/parameters/Page'
        - in: query
          description: Parameter on the basis of which sorting is done.
          name: sort
          schema:
            type: string
            enum:
              - name
              - last_scan
              - compliance_results
            default: last-scan
      security:
        - x-api-key: []
      requestBody:
        $ref: '#/components/requestBodies/CodeRepositoryListingRequestBody'
      x-stoplight:
        id: r38yb2r4uttwp
  '/v1/orgs/{org}/projects/{project}/ci-cd/list':
    parameters:
      - $ref: '#/components/parameters/OrgParam'
      - $ref: '#/components/parameters/ProjectParam'
    post:
      summary: List All CI/CD Workflows
      operationId: getCICDWorkflowsList
      responses:
        '200':
          description: CI/CD Workflow List Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CICDWorkflowListingResponse'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      description: List CI/CD Workflows
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Order'
        - $ref: '#/components/parameters/Page'
        - in: query
          description: Parameter on the basis of which sorting is done.
          name: sort
          schema:
            type: string
            enum:
              - last_scan
              - evaluation_count
            default: last_scan
      security:
        - x-api-key: []
      requestBody:
        description: Shared Request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CICDWorkflowListingRequest'
      x-stoplight:
        id: w1x8cutq6bkqi
      tags:
        - CICDWorkflows
  '/v1/orgs/{org}/projects/{project}/code-repos/{code-repo}/overview':
    parameters:
      - $ref: '#/components/parameters/OrgParam'
      - $ref: '#/components/parameters/ProjectParam'
      - schema:
          type: string
        name: code-repo
        in: path
        required: true
        description: Code repository ID
    get:
      summary: Get Code Repository Overview
      tags:
        - codeRepo
      responses:
        '200':
          $ref: '#/components/responses/CodeRepositoryOverviewResponseBody'
      operationId: getCodeRepositoryOverview
      x-stoplight:
        id: q2jzrwo3zf8o7
      description: This API provides overview details of code repository.
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
  '/v1/orgs/{org}/projects/{project}/code-repos/{code-repo}/rules/evalution-trend':
    parameters:
      - $ref: '#/components/parameters/OrgParam'
      - $ref: '#/components/parameters/ProjectParam'
      - schema:
          type: string
        name: code-repo
        in: path
        required: true
        description: Code Repository ID
      - $ref: '#/components/parameters/AccountHeader'
    get:
      summary: GET Repo Rules Evaluation Trend
      tags:
        - codeRepo
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CodeRepoRulesEvaluation'
      operationId: getRepoRulesEvaluationTrend
      x-stoplight:
        id: 8105jf556pwz3
      security:
        - x-api-key: []
      parameters:
        - schema:
            type: integer
            format: int64
          in: query
          name: start_time
          description: Start Time
          required: true
        - schema:
            type: integer
            format: int64
          in: query
          name: end_time
          description: End Time
  '/v1/orgs/{org}/projects/{project}/compliance-stats/evaluation-breakdown':
    parameters:
      - $ref: '#/components/parameters/OrgParam'
      - $ref: '#/components/parameters/ProjectParam'
    post:
      summary: Compliance Results Stats Overview Severity
      responses:
        '200':
          $ref: '#/components/responses/ComplianceResultsEvaluationBreakdownResponse'
        '500':
          description: Internal Server Error
      operationId: postComplianceResultStatsOverview
      x-stoplight:
        id: v8wrumipa2mwv
      description: Post call to show Compliance Results for Compliance Dashboard Overview
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - schema:
            type: string
          in: query
          name: start_time
          description: 'Start time for the query, accepts timestamp epoch UTC'
        - schema:
            type: string
          in: query
          name: end_time
          description: 'End time for the query, accepts timestamp epoch UTC'
      requestBody:
        $ref: '#/components/requestBodies/ComplianceResultsOverviewRequestBody'
      tags:
        - ComplianceStats
  '/v1/orgs/{org}/projects/{project}/compliance-stats/checks':
    parameters:
      - $ref: '#/components/parameters/OrgParam'
      - $ref: '#/components/parameters/ProjectParam'
    post:
      summary: Fetch Compliance Result Stats By Compliance Checks
      responses:
        '200':
          $ref: '#/components/responses/ComplianceChecksStatsResponse'
        '500':
          description: Internal Server Error
      operationId: getComplianceResultStatsByComplianceChecks
      x-stoplight:
        id: 5jio4bts674f8
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
        - schema:
            type: string
          in: query
          name: start_time
          description: 'Start time for the query, accepts timestamp'
        - schema:
            type: string
          in: query
          name: end_time
          description: 'End time for the query, accepts timestamp'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Order'
        - schema:
            type: string
          in: query
          name: sort
          description: 'Parameter on the basis of which sorting is done, known sorts: failed'
      requestBody:
        $ref: '#/components/requestBodies/FetchComplianeResultChecksStatsRequestBody'
      tags:
        - ComplianceStats
  '/v1/orgs/{org}/projects/{project}/code-repos/summary':
    parameters:
      - $ref: '#/components/parameters/OrgParam'
      - $ref: '#/components/parameters/ProjectParam'
    get:
      summary: GET All Repositories Summary
      tags:
        - codeRepo
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RepositoriesSummary'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      operationId: getAllRepositoriesSummary
      x-stoplight:
        id: 6i10swrdmen5o
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
  '/v1/orgs/{org}/projects/{project}/ci-cd/summary':
    parameters:
      - $ref: '#/components/parameters/OrgParam'
      - $ref: '#/components/parameters/ProjectParam'
    get:
      summary: GET All CI/CD Workflows Summary
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CICDWorkflowSummary'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      operationId: getCICDWorkflowsSummary
      security:
        - x-api-key: []
      parameters:
        - $ref: '#/components/parameters/AccountHeader'
      x-stoplight:
        id: mwxtnz07xmd0n
      tags:
        - CICDWorkflows
      description: Get all CI/CD Workflow Summary including Number of workflows and Compliance evaluations for all workflows.
  '/v1/orgs/{org}/projects/{project}/ci-cd/{workflow}/overview':
    parameters:
      - $ref: '#/components/parameters/OrgParam'
      - $ref: '#/components/parameters/ProjectParam'
      - schema:
          type: string
        name: workflow
        in: path
        required: true
        description: CI/Cd Workflow ID
    get:
      summary: Get CI/CD Workflow Overview
      responses:
[...]
