.learnAboutPlatform {
  padding: 2rem 0 4rem 0;
}
.learnAboutPlatform h2 {
  width: 100%;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
}
.learnAboutPlatform h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 13px;
  /* identical to box height, or 72% */
  letter-spacing: 4px;
  text-transform: uppercase;
}
.learnAboutPlatform .subSectionName {
  width: 200px;
  border-bottom: 1px solid #9293AB;
  padding: 8px 0;
}
.learnAboutPlatform .platform .platformIllustration {
  width: 100%;
  height: auto;
  margin-top: 1em;
}
.learnAboutPlatform ul.platformList, .learnAboutPlatform ul.platformListMore {
  display: flex;
  flex-flow: row wrap;
  margin-top: 32px;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
.learnAboutPlatform ul.platformList a:hover, .learnAboutPlatform ul.platformListMore a:hover {
  color: unset;
}
.learnAboutPlatform ul.platformList li, .learnAboutPlatform ul.platformListMore li {
  box-sizing: border-box;
  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 32px 16px;
  width: 270px;
  height: 322px;
  /* Gray Scale / Gray Scale 0 */
  background: #FFFFFF;
  /* Primary/Primary 3 - Lighter */
  border: 2px solid #A3E9FF;
  border-radius: 8px;
}
.learnAboutPlatform ul.platformList li:hover, .learnAboutPlatform ul.platformListMore li:hover {
  background: #A3E9FF;
  /* Primary / Primary 1 */
  /* Light/Large */
  box-shadow: 0px 0px 2px rgba(40, 41, 61, 0.04), 0px 4px 8px rgba(96, 97, 112, 0.16);
}
.learnAboutPlatform ul.platformList li img, .learnAboutPlatform ul.platformListMore li img {
  height: 130px;
  width: auto;
}
.learnAboutPlatform ul.platformList li h4, .learnAboutPlatform ul.platformListMore li h4 {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin: 16px 0 4px 0;
}
.learnAboutPlatform ul.platformList li p, .learnAboutPlatform ul.platformListMore li p {
  margin: 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
}
.learnAboutPlatform ul.platformListMore li {
  width: 370px;
  height: 150px;
}
.learnAboutPlatform ul.platformListMore li h4 {
  margin-top: 4px;
}
.learnAboutPlatform .btnShowMore {
  display: flex;
  justify-content: center;
  margin-top: 36px;
}
.learnAboutPlatform .btnShowMore button {
  border: none;
  background: none;
  color: var(--primary-7);
  font-weight: 600;
  font-size: 13px;
  cursor: pointer;
  line-height: 16px;
}
.learnAboutPlatform .btnShowMore button:hover {
  color: var(--primary-5);
}

.modules {
  padding: 3rem 0 4rem 0;
}
.modules .getStart {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  /* width: 100%; */
  flex-grow: 1;
}
.modules .getStart a:hover {
  color: unset;
}
.modules .getStart .getStartItem {
  width: 270px;
  height: 142px;
  overflow: hidden;
  /* Light/Background/White */
  background: #FFFFFF;
  /* Light/Medium */
  box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.04), 0px 2px 4px rgba(96, 97, 112, 0.16);
  border: 2px solid transparent;
  border-radius: 8px;
  margin: 0 32px 32px 0;
  padding: 32px 0 24px 0;
}
.modules .getStart .getStartItem .titleAndDesc {
  height: 26px;
}
.modules .getStart .getStartItem h3 {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 4px;
  letter-spacing: 0;
  text-transform: capitalize;
}
.modules .getStart .getStartItem p {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
}
.modules .getStart .getStartItem img {
  height: 49px;
  width: auto;
}
.modules .getStart .getStartItem:hover {
  box-shadow: 0px 2px 4px rgba(40, 41, 61, 0.04), 0px 8px 16px rgba(96, 97, 112, 0.16);
  border: 2px solid var(--primary-6);
}
.modules .getStart .getStartItem.ci:hover {
  border-color: var(--mod-ci-200);
}
.modules .getStart .getStartItem.cd:hover {
  border-color: var(--mod-cd-200);
}
.modules .getStart .getStartItem.ccm:hover {
  border-color: var(--mod-ccm-200);
}
.modules .getStart .getStartItem.ff:hover {
  border-color: var(--mod-ff-200);
}
.modules .getStart .getStartItem.sto:hover {
  border-color: var(--mod-sto-200);
}
.modules .getStart .getStartItem.srm:hover {
  border-color: var(--mod-srm-200);
}
.modules .getStart .getStartItem.ce:hover {
  border-color: var(--mod-ce-200);
}
.modules .getStart .getStartItem.cet:hover {
  border-color: var(--mod-cet-200);
}
.modules .getStart .getStartItem.idp:hover {
  border-color: var(--mod-idp-200);
}

@media screen and (max-width: 996px) {
  .learnAboutPlatform ul.platformListMore li {
    width: 270px;
    height: 170px;
  }
}
@media screen and (max-width: 768px) {
  .learnAboutPlatform h2 {
    font-size: 28px;
  }
  .modules h2 {
    font-size: 28px;
  }
}
@media screen and (max-width: 393px) {
  /* for mobile */
  .learnAboutPlatform h2 {
    font-size: 22px;
    line-height: 150%;
  }
  .learnAboutPlatform h3 {
    font-size: 14px;
    line-height: 150%;
  }
  .learnAboutPlatform .subSectionName {
    padding: 0;
  }
  .learnAboutPlatform ul.platformList, .learnAboutPlatform ul.platformListMore {
    padding-left: 0;
  }
  .modules h2 {
    font-size: 22px;
    line-height: 150%;
  }
  .modules .getStart .getStartItem {
    margin-right: unset;
  }
}/*# sourceMappingURL=styles.module.css.map */