.learnAboutPlatform {
  padding: 2rem 0 4rem 0;
  h2 {
    // margin-bottom: 32px;
    width: 100%;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
  }
  h3 {
    font-weight: 500;
    font-size: 18px;
    line-height: 13px;
    /* identical to box height, or 72% */
    letter-spacing: 4px;
    text-transform: uppercase;
  }
  .subSectionName {
    width: 200px;
    border-bottom: 1px solid #9293AB;
    padding: 8px 0;
  }
  .platform {
    .platformIllustration {
      width: 100%;
      height: auto;
      margin-top: 1em;
    }
  }
  ul.platformList, ul.platformListMore {
    display: flex;
    flex-flow: row wrap;
    margin-top: 32px;
    justify-content: center;
    align-items: center;
    gap: 32px;
    li {
      box-sizing: border-box;

      /* Auto layout */
      
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 32px 16px;
      
      width: 270px;
      height: 322px;
      
      /* Gray Scale / Gray Scale 0 */
      
      background: #FFFFFF;
      /* Primary/Primary 3 - Lighter */
      
      border: 2px solid #A3E9FF;
      border-radius: 8px;
      &:hover {
        background: #A3E9FF;
        /* Primary / Primary 1 */

        // border: 2px solid #EFFBFF;
        /* Light/Large */

        box-shadow: 0px 0px 2px rgba(40, 41, 61, 0.04), 0px 4px 8px rgba(96, 97, 112, 0.16);
      }
      img {
        height: 130px;
        width: auto;
      }
      h4 {
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        margin: 16px 0 4px 0;
      }
      p {
        margin: 0;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
      }
    }
  }
  ul.platformListMore {
    li {
      width: 370px;
      height: 150px;
      h4 {
        margin-top: 4px;;
      }
    }
  }
  .btnShowMore {
    display: flex;
    justify-content: center;
    margin-top: 36px;
    button {
      border: none;
      background: none;
      color: var(--primary-7); // #0278D5;
      font-weight: 600;
      font-size: 13px;
      cursor: pointer;
      line-height: 16px;
      &:hover {
        color: var(--primary-5);
      }
    }
  }
}

@media screen and (max-width: 996px) {
// @media screen and (max-width: 768px) {
  .learnAboutPlatform {
    ul.platformListMore {
      li {
        width: 270px;
        height: 170px;
      }
    }
  }
}
// @media screen and (max-width: 996px) {
@media screen and (max-width: 768px) {
  .learnAboutPlatform h2 {
    font-size: 28px;
  }
}
@media screen and (max-width: 393px) {
  /* for mobile */
  .learnAboutPlatform{
    h2 {
      font-size: 22px;
      line-height: 150%;
    }
    h3 {
      font-size: 14px;
      line-height: 150%;
    }
    .subSectionName {
      padding: 0;
    }
    ul.platformList, ul.platformListMore {
      padding-left: 0;
    }
  }
}