.doc-button {
  display: inline;
  cursor: pointer;
  background: var(--gray-100);
  border: 1px solid var(--gray-300);
  border-radius: 4px;
  color: var(--gray-600);
  filter: drop-shadow(0 0 1px rgba(40, 41, 61, 0.04))
    drop-shadow(0 2px 4px rgba(96, 97, 112, 0.16));
  font-weight: 600;
  margin-bottom: 20px;
  white-space: nowrap;
}
.doc-button:hover {
  background: white;
  color: var(--primary-8);
}
.small {
  font-size: 12px;
  padding: 10px 15px;
}
.medium {
  height: 36px;
  font-size: 14px;
  padding: 12px 18px;
}
.large {
  font-size: 16px;
  height: 48px;
  padding: 12px 20px;
}

.custom-icon {
  color: var(--orange-600);
  scale: 1.5;
  margin-left: 10px;
  margin-right: 3px;
}

.link {
  margin: 0;
  padding: 0;
  display: inline;
  text-decoration: none;
}

.link:hover {
  text-decoration: none;
}
