---
title: Abort Verification
description: Learn how to abort a running Verify step.
sidebar_position: 30
---

import Cd from '@site/docs/continuous-delivery/verify/configure-cv/abort-verification.md';

<Cd />


