---
title: Configure Threshold-Based Verification
description: Learn how to configure threshold-based verification in your Harness CD pipeline.
sidebar_position: 2
---

import Cd from '@site/docs/continuous-delivery/verify/configure-cv/simple-verification.md';

<Cd />


