.harnessU {
  padding: 4rem 0 4rem 0;
  // display: flex;
  align-items: center;
  background: linear-gradient( 180deg, #000000 1.86%, rgba(0, 0, 0, 0.85) 20.59%, rgba(4, 49, 89, 0.586971) 56.83%, rgba(4, 89, 167, 0.28) 72.71%, rgba(7, 67, 122, 0.05) 98.76% ), url(/img/bg-harness-u.png);
  background-position-y: bottom;
  background-size: 100%;
  margin: 0;
  max-width: unset;
  // color: #cdf4fe;
  // font-size: 20px;
  // line-height: 28px;
  h2 {
    margin-bottom: 50px;
    // width: 600px;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    color: #fff;
  }

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
}
.heroButton {
  background-color: #0278D5;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

  .platform {
    .platformIllustration {
      width: 100%;
      height: auto;
    }
  }
  ul.platformList {
    display: flex;
    flex-flow: row wrap;
    margin-top: 32px;
    justify-content: center;
    align-items: center;
    gap: 32px;
    padding-left: 0;
    li {
      box-sizing: border-box;

      /* Auto layout */
      
      display: flex;
      flex-direction: column;
      // justify-content: center;
      // align-items: center;
      text-align: left;
      padding: 50px 24px;
      
      width: 270px;
      height: 322px;
      
      /* Gray Scale / Gray Scale 0 */
      
      background: #FFFFFF;
      /* Primary/Primary 3 - Lighter */
      
      border: 2px solid #A3E9FF;
      border-radius: 8px;
      &:hover {
        background: #A3E9FF;
        /* Primary / Primary 1 */

        // border: 2px solid #EFFBFF;
        /* Light/Large */

        box-shadow: 0px 0px 2px rgba(40, 41, 61, 0.04), 0px 4px 8px rgba(96, 97, 112, 0.16);
      }
      .titleAndDesc {
        height: 190px;
      }
      .harnessUPath {
        display: flex;
        align-items: center;
        span {
          font-weight: 500;
          font-size: 18px;
          line-height: 28px;
        }
      }
      img.harnssUIcon {
        height: 32px;
        width: 32px;
      }
      a {
        // color: #000000;
      }
      h4 {
        font-weight: 600;
        font-size: 20px;
        line-height: 28px;
        margin: 0 0 16px 0;
      }
      p {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        /* or 150% */
        /* Gray Scale/Gray Scale 600 */
        color: #4F5162;
      }
    }
  }
}

@media screen and (max-width: 393px) {
  /* for mobile */
  .harnessU h2 {
    font-size: 22px;
    line-height: 150%;
  }
}