.carousel {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .twoCards {
    display: flex;
    gap: 2.5%;
    justify-content: center;
    align-items: center;
  }
  .indicator {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
    .dot {
      background-color: #333;
      width: 15px;
      height: 15px;
      border-radius: 50%;
    }
    .active {
      background-color: var(--primary-1);
    }
  }
}

@media screen and (max-width: 393px) {
  .twoCards {
    display: flex;
    flex-direction: column;
  }
}
