.homepageCertifications {
  align-items: center;
  background: radial-gradient(
    91.12% 180.99% at 5% 16.08%,
    #000000 0%,
    rgba(7, 50, 89, 0.58) 27.01%,
    #031525 93.15%
  );
  background-position-y: bottom;
  background-size: 100%;
  background-color: #000000;
  margin: 0;
  max-width: unset;
  .inner {
    background: url(/img/home_cert_bg.svg) no-repeat top right;
    background-size: contain;
    padding: 80px 0 40px 0;
    .dualColumn {
      display: flex;
      .left {
        flex-basis: 48%;
      }
      .right {
        flex-basis: 52%;
      }
    }
    h2 {
      width: 98%;
      margin-bottom: 18px;
      // width: 600px;
      font-weight: 600;
      font-size: 32px;
      line-height: 40px;
      color: #fff;
    }
    .desc {
      color: var(--white);
      font-weight: 400;
      font-size: 16px;
      line-height: 28px;
      min-height: 168px;
      width: 88%;
    }
    .badges {
      display: flex;
      gap: 18px;
    }

    ul.platformList {
      display: flex;
      flex-flow: row wrap;
      margin-top: 32px;
      justify-content: center;
      align-items: center;
      gap: 32px;
      padding-left: 0;
      a:hover {
        color: unset;
      }
      li {
        box-sizing: border-box;

        /* Auto layout */

        display: flex;
        flex-direction: column;
        // justify-content: center;
        // align-items: center;
        text-align: left;
        padding: 50px 24px;

        width: 270px;
        height: 322px;

        /* Gray Scale / Gray Scale 0 */

        background: #ffffff;
        /* Primary/Primary 3 - Lighter */

        border: 2px solid #a3e9ff;
        border-radius: 8px;
        &:hover {
          background: #a3e9ff;
          /* Primary / Primary 1 */

          // border: 2px solid #EFFBFF;
          /* Light/Large */

          box-shadow: 0px 0px 2px rgba(40, 41, 61, 0.04),
            0px 4px 8px rgba(96, 97, 112, 0.16);
        }
        .titleAndDesc {
          height: 190px;
        }
        .homepageCertificationsPath {
          display: flex;
          align-items: center;
          span {
            font-weight: 500;
            font-size: 18px;
            line-height: 28px;
          }
        }
        img.harnssUIcon {
          height: 32px;
          width: 32px;
        }
        a {
          // color: #000000;
        }
        h4 {
          font-weight: 600;
          font-size: 20px;
          line-height: 28px;
          margin: 0 0 16px 0;
        }
        p {
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          /* or 150% */
          /* Gray Scale/Gray Scale 600 */
          color: #4f5162;
        }
      }
    }
  }
}

@media screen and (max-width: 996px) {
  .homepageCertifications {
    .inner {
      .dualColumn {
        flex-direction: column;
        .left {
          .desc {
            min-height: unset;
            padding-bottom: 2em;
          }
        }
        .right {
          margin-top: 2em;
        }
      }
    }
  }
}

@media screen and (max-width: 512px) {
  .homepageCertifications {
    .inner {
      padding-top: 40px;
      background-position: top;
      .dualColumn {
        .left {
          width: 100%;
        }
        .right {
          margin-top: 0;
          .cards {
            flex-direction: column;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 393px) {
  /* for mobile */
  .homepageCertifications h2 {
    font-size: 22px;
    line-height: 150%;
  }
}
