.university,
.certificationsCI,
.certificationsCD,
.certificationsFF,
.certificationsCCM,
.certificationsSRM,
.certificationsSTO,
.certificationsSEI,
.certificationsCE,
.certificationsIDP,
.certificationsPlatform {
  background: url(/img/cert_harness_bg.svg) no-repeat;
  background-position: right;
  background-position-y: 0;
  background-size: 55%;
  min-height: 400px;
  // padding-top: 72px;

  .hero {
    display: flex;

    .left {
      // margin-top: -72px;
      flex-basis: 45%;

      .linkBack {
        margin-bottom: 16px;
        padding: 0 16px;
      }
    }

    .right {
      flex-basis: 55%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 24px;
      min-height: 210px;
      position: relative;

      img {
        margin-top: 72px;
        width: 125px;
        height: auto;
        opacity: 0.4;
        font-size: 14px;
        transition-property: width, height, opacity;
        transition-duration: 0.3s;

        &.active {
          width: 150px;
          opacity: 1;
        }
      }

      .iltimg {
        width: 100%;
        max-height: 210px;
      }
      .sptimg {
        width: 100%;
        max-height: 210px;
      }
    }
  }

  .btns {
    margin-top: 72px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;

    .certBtnDark {
      width: 227px;
      height: 52px;
      padding: 10px 32px 10px 32px;
      border-radius: 50px;
      font-family: Inter;
      font-size: 20px;
      font-weight: 600;
      line-height: 28px;
      letter-spacing: 0px;
      text-align: left;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      background-color: var(--primary-9);
      border: 2px solid var(--primary-9);
      color: white;

      &:hover {
        cursor: pointer;
        background-color: var(--primary-10);
      }

      img {
        width: 28px;
        height: 22.67px;
        top: 4.67px;
        left: 2px;
      }
    }

    .InstLedTrainBtnDark {
      min-width: 330px;
      height: 52px;
      padding: 10px 32px 10px 32px;

      border-radius: 50px;
      font-family: Inter;
      font-size: 20px;
      font-weight: 600;
      line-height: 28px;
      letter-spacing: 0px;
      text-align: left;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      background-color: var(--primary-9);
      border: 2px solid var(--primary-9);
      color: white;

      &:hover {
        cursor: pointer;
        background-color: var(--primary-10);
      }

      img {
        width: 28px;
        height: 22.67px;
        top: 4.67px;
        left: 2px;
      }
    }

    .activeDark {
      border: 2px solid var(--primary-9);
      background-color: white;
      color: var(--primary-9);
      &:hover {
        background-color: var(--gray-100);
      }
    }

    .certBtnLight {
      width: 227px;
      height: 52px;
      padding: 10px 32px 10px 32px;
      border-radius: 50px;
      font-family: Inter;
      font-size: 20px;
      font-weight: 600;
      line-height: 28px;
      letter-spacing: 0px;
      text-align: left;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border: 2px solid var(--primary-9);
      background-color: white;
      color: var(--primary-9);

      &:hover {
        cursor: pointer;
        background-color: var(--gray-100);
      }

      img {
        width: 28px;
        height: 22.67px;
        top: 4.67px;
        left: 2px;
      }
    }

    .InstLedTrainBtnLight {
      min-width: 330px;
      height: 52px;
      padding: 10px 32px 10px 32px;

      border-radius: 50px;
      font-family: Inter;
      font-size: 20px;
      font-weight: 600;
      line-height: 28px;
      letter-spacing: 0px;
      text-align: left;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border: 2px solid var(--primary-9);
      background-color: white;
      color: var(--primary-9);

      &:hover {
        cursor: pointer;
        background-color: var(--gray-100);
      }

      img {
        width: 28px;
        height: 22.67px;
        top: 4.67px;
        left: 2px;
      }
    }

    .activeLight {
      background-color: var(--primary-9);
      border: 2px solid var(--primary-9);
      color: white;
      &:hover {
        background-color: var(--primary-10);
      }
    }
  }

  .tabs {
    margin-top: 72px;

    h2,
    p {
      margin-bottom: 32px;
    }

    ul.tabItems {
      border-bottom: 1px solid var(--gray-200);
      padding: 0;
      margin: 0;
      display: flex;
      gap: 8px;
      margin-bottom: 32px;

      .listTabItems {
        display: flex;
        align-items: center;
        gap: 8px;

        li {
          list-style: none;
          padding: 8px 16px;
          margin: 0;
          color: var(--ifm-color-content);
          font-weight: 600;
          cursor: pointer;
          border-radius: 8px 8px 0 0;

          &:hover {
            background-color: var(--gray-50);
            color: var(--hover);
          }

          &.active {
            font-weight: 700;
            color: var(--primary);
            border-bottom: 2px solid var(--primary);
            cursor: default;
            background-color: var(--primary-1);
          }
        }
      }
    }

    .tabContent {
      display: none;

      &.active {
        // display: block;
        display: flex;
        flex-direction: column;
        gap: 32px;
      }
    }

    .cardContainer {
      display: flex;
      flex-flow: row wrap;
      // gap: 32px;
      row-gap: 32px;
      column-gap: 2.5%;
      // justify-content: space-between;
    }

    .certCard {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 32px;
      gap: 8px;
      background: #ffffff;
      border-radius: 8px;
      border-width: 2px;
      border-style: solid;
      border-color: var(--primary-6);

      &.moduleCD {
        border-color: var(--mod-cd-200);
      }

      &.moduleCI {
        border-color: var(--mod-ci-200);
      }

      &.moduleCCM {
        border-color: var(--mod-ccm-200);
      }

      &.moduleFF {
        border-color: var(--mod-ff-200);
      }

      &.moduleSTO {
        border-color: var(--mod-sto-200);
      }

      &.moduleSRM {
        border-color: var(--mod-srm-200);
      }

      &.moduleSEI {
        border-color: var(--mod-sei-200);
      }

      &.moduleCE {
        border-color: var(--mod-ce-200);
      }

      &.moduleIDP {
        border-color: var(--mod-idp-200);
      }

      .certCardContainer {
        display: flex;
        width: 100%;

        // gap: 8px;
        .left {
          flex-basis: 25%;
          min-width: 250px;
          flex-shrink: 1;
          padding-right: 40px;

          img.badge {
            width: 85px;
            height: auto;
            margin-top: 12px;
          }

          .productVersion {
            font-size: 12px;
            font-weight: 13px;
            height: 48px;
            display: flex;
            align-items: flex-end;
          }
        }

        .right {
          flex-basis: 75%;
          flex-grow: 1;

          .btnContainer {
            display: flex;
            gap: 24px;
            justify-content: flex-end;

            // margin-top: 24px;
            button {
              height: 48px;
              display: flex;
              padding: 0 24px;
              border: none;
              border-radius: 5px;
              justify-content: center;
              align-items: center;
              font-weight: 600;
              cursor: pointer;
              font-size: 16px;

              :global {
                .fa-solid,
                .fa-regular {
                  margin-left: 4px;
                }
              }

              &.moreDetails {
                background-color: var(--primary);
                color: var(--white);
              }

              &.startLearning {
                color: var(--primary);
                background-color: transparent;
              }
            }
          }
        }

        ul.courseList {
          margin: 24px 0 24px 0;
          padding: 0;
          display: flex;
          flex-flow: row wrap;
          gap: 16px;

          li.courseItem {
            list-style: none;
            margin: 0;
            padding: 0;
            flex-basis: 250px; // 30%;

            :global {
              .fa-solid {
                color: var(--green-500);
                margin-right: 4px;
              }
            }
          }
        }

        .certCardBtn {
          background-color: var(--gray-50);
          border: 1px solid var(--gray-100);
          padding: 16px;
          margin-bottom: 16px;
          border-radius: 8px;
          box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.08),
            0px 0.5px 2px rgba(96, 97, 112, 0.16);
          display: flex;
          justify-content: space-between;
          align-items: center;

          span {
            font-weight: 600;
            color: #22222a;
          }
        }

        a {
          color: #22222a;

          &:hover {
            text-decoration: none;
            color: var(--primary);
          }
        }
      }
    }

    .availableCerts {
      margin-top: 32px;

      h4 {
        font-weight: 500;
        font-size: 24px;
        line-height: 32px;
        color: var(--ifm-color-content);

        &:hover {
          color: var(--primary);
        }
      }

      p {
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        /* or 175% */
        /* Light/Text/Primary */
        color: var(--ifm-color-content);
      }

      .availableCertsBox {
        display: flex;
        justify-content: space-between;

        border: 2px solid #d9dae5;
        border-radius: 8px;
        padding: 32px;
        gap: 32px;

        .verticalLine {
          border-left: 2px solid #d9dae5;
        }

        .certs {
          width: 100%;
          display: flex;
          flex-direction: column;

          .certBadges {
            h5 {
              margin: 24px 0 24px 0;
            }

            .availableCerts {
              margin: 0;

              img {
                height: 93px;
                width: 85px;
              }
            }

            .unAvailableCerts {
              img {
                height: 93px;
                width: 85px;
                opacity: 40%;
              }
            }
          }

          .certDescription {
            // flex: 1;
            // display: flex;
            // flex-direction: column;
            height: auto;
            min-height: 200px;
            border-bottom: 2px solid #d9dae5;

            .titleLine {
              // background-color: #4dc952;
              display: flex;
              justify-content: space-between;
              align-items: center;

              h4 {
                margin: 0;
                padding: 0;
              }
            }

            ul {
              display: inline;
              padding: 0;

              li {
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                padding: 0;
                margin-bottom: 20px;

                i {
                  padding: 2px;
                  margin-right: 10px;
                  height: 20px;
                  width: 20px;
                  background-color: #4dc952;
                  border-radius: 50%;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  color: white;
                }

                p {
                  padding: 0;
                  margin: 0;
                  display: inline;
                  line-height: 1;
                }
              }
            }
          }
        }
      }
    }
  }
}

.certificationsCI,
.certificationsCD,
.certificationsFF,
.certificationsCCM,
.certificationsSRM,
.certificationsSTO,
.certificationsSEI,
.certificationsCE,
.certificationsIDP,
.certificationsPlatform {
  .certDesc {
    margin-top: 80px;

    .certCard {
      box-sizing: border-box;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      padding: 32px 0;
      gap: 8px;
      background: var(--white);
      border: 2px solid var(--gray-200);
      border-radius: 8px;

      .certCardContainer {
        border-right: 1px solid var(--gray-200);
        padding: 8px 24px;

        // &:first-child {
        //     // padding-left: 0;
        // }
        &:last-child {
          border-right: none;
          // padding-right: 0;
        }

        h3 {
          margin-bottom: 18px;
        }

        ul.courseList {
          margin: 24px 0 24px 0;
          padding: 0;
          display: flex;
          flex-flow: row wrap;
          gap: 16px;

          li.courseItem {
            list-style: none;
            margin: 0;
            padding: 0;
            flex-basis: 250px; // 30%;

            :global {
              .fa-solid {
                color: var(--green-500);
                margin-right: 4px;
              }
            }
          }
        }

        .btnContainer {
          display: flex;
          gap: 24px;

          button {
            height: 48px;
            display: flex;
            padding: 0 18px;
            border: none;
            border-radius: 5px;
            justify-content: center;
            align-items: center;
            font-weight: 600;
            cursor: pointer;
            font-size: 16px;

            :global {
              .fa-solid,
              .fa-regular {
                margin-left: 4px;
              }
            }

            &.moreDetails {
              background-color: var(--primary);
              color: var(--white);
            }

            &.startLearning {
              color: var(--primary);
              background-color: transparent;
            }
          }
        }
      }
    }
  }

  .studyGuide {
    margin-top: 24px; //50px;

    .studyGuideCard {
      background-color: var(--primary-8);
      border-radius: 8px;

      &.Developers {
        background-color: #bc8532;
      }

      &.Administrators {
        background-color: #88939a;
      }

      &.Architects {
        background-color: #c8a320;
      }

      .info {
        // font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.367826px;
        text-transform: uppercase;
        color: var(--white);
        padding: 8px 16px;

        :global {
          .fa-circle-info {
            margin-right: 4px;
          }
        }
      }

      .innerCard {
        border: 2px solid var(--gray-200);
        background-color: var(--background-color);
        border-radius: 8px;
        padding: 32px;
        display: flex;
        width: 100%;

        .left {
          flex-basis: 25%;
          min-width: 250px;
          flex-shrink: 1;
          padding-right: 40px;

          img.badge {
            width: 85px;
            height: auto;
            margin-top: 12px;
            margin-bottom: 25px;
          }

          .productVersion {
            font-size: 12px;
            font-weight: 13px;
            height: 48px;
            display: flex;
            align-items: flex-end;
          }
        }

        .right {
          flex-basis: 75%;
          flex-grow: 1;

          .desc {
            margin-bottom: 24px;
          }

          .btnContainer {
            display: flex;
            gap: 24px;
            justify-content: flex-end;
            margin-top: 24px;

            button {
              height: 48px;
              display: flex;
              padding: 0 24px;
              border: none;
              border-radius: 5px;
              justify-content: center;
              align-items: center;
              font-weight: 600;
              cursor: pointer;
              font-size: 16px;

              :global {
                .fa-solid,
                .fa-regular {
                  margin-left: 4px;
                }
              }

              &.moreDetails {
                background-color: var(--primary);
                color: white;
              }

              &.startLearning {
                color: var(--primary);
                background-color: transparent;
              }
            }
          }
        }
      }
    }
  }
}

.certificationsCI {
  background-image: url(/img/cert_ci_bg.svg);
}

.certificationsCD {
  background-image: url(/img/cert_cd_bg.svg);
}

.certificationsFF {
  background-image: url(/img/cert_ff_bg.svg);
}

.certificationsCCM {
  background-image: url(/img/cert_ccm_bg.svg);
}

.certificationsSTO {
  background-image: url(/img/cert_sto_bg.svg);
}

.certificationsSEI {
  background-image: url(/img/cert_sei_bg.svg);
  background-position-x: 90%;
  background-size: 40%;
}

.certificationsIDP {
  background-image: url(/img/cert_idp_bg.svg);
  background-position-x: 90%;
  background-size: 35%;
}

.certificationsCE {
  background-image: url(/img/cert_ce_bg.svg);
}

// .certificationsPlatfrom {
//     background-image: url(/img/cert_platform_bg.svg);
// }
// .certificationsSRM {
//     background-image: url(/img/cert_srm_bg.svg);
// }
.examDetails {
  margin-top: 50px;

  .examDetailsCard {
    border: 2px solid var(--gray-200);
    background-color: var(--background-color);
    border-radius: 8px;
    padding: 32px;

    .btnContainer {
      display: flex;
      gap: 24px;
      justify-content: flex-end;
      margin-top: 24px;

      button {
        height: 48px;
        display: flex;
        padding: 0 24px;
        border: none;
        border-radius: 5px;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        cursor: pointer;
        font-size: 16px;

        :global {
          .fa-solid,
          .fa-regular {
            margin-left: 4px;
          }
        }

        &.moreDetails {
          background-color: var(--primary);
          color: white;
        }

        &.startLearning {
          color: var(--primary);
          background-color: transparent;
        }
      }
    }
  }
}

.InstructorLedTrainingBg {
  background: none !important;
}
.SelfPacedTrainingBg {
  background: none !important;
}

@media screen and (max-width: 1344px) {
  /* for small desktop */
  .certificationsCI,
  .certificationsCD,
  .certificationsFF,
  .certificationsCCM,
  .certificationsSRM,
  .certificationsSTO,
  .certificationsCE,
  .certificationsSEI,
  .certificationsIDP,
  .certificationsPlatform {
    .certDesc {
      .certCard {
        .certCardContainer {
          .btnContainer {
            margin-top: 32px;
            flex-direction: column;
            gap: 18px;
            align-items: center;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1199px) {
  /* for laptop */
  .university {
    .hero {
      .right {
        img {
          width: 100px;
          height: auto;
        }
      }
    }
  }

  .certificationsCI,
  .certificationsCD,
  .certificationsFF,
  .certificationsCCM,
  .certificationsSRM,
  .certificationsSTO,
  .certificationsCE,
  .certificationsSEI,
  .certificationsIDP,
  .certificationsPlatform {
    .certDesc {
      .certCard {
        display: block;

        .certCardContainer {
          border-right: none;
          border-bottom: 1px solid var(--gray-200);
          padding: 24px 24px;

          &:first-child {
            padding-top: 0;
          }

          &:last-child {
            border-bottom: none;
            padding-bottom: 0;
          }

          .btnContainer {
            margin-top: 32px;
            flex-direction: row;
            gap: 24px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  /* for tablet */

  .university {
    .hero {
      display: flex;
      flex-direction: column;

      .left {
        flex-basis: unset;
      }

      .right {
        flex-basis: unset;
        .iltimg {
          display: block;
        }
        .sptimg {
          display: block;
        }
        // margin-top: 36px;
        img {
          width: 100px;
        }
      }
    }
  }

  .availableCertsBox {
    flex-direction: column;

    .certDescription {
      min-height: auto;
    }
  }

  .certificationsCI,
  .certificationsCD,
  .certificationsFF,
  .certificationsCCM,
  .certificationsSRM,
  .certificationsSTO,
  .certificationsCE,
  .certificationsSEI,
  .certificationsIDP,
  .certificationsPlatform {
    padding-top: 36px;

    .hero {
      flex-direction: column;

      .right {
        margin-top: 24px;
      }
    }

    .studyGuide {
      .studyGuideCard {
        .innerCard {
          flex-direction: column;

          .left {
            .productVersion {
              height: 30px;
            }
          }

          .right {
            margin-top: 24px;
          }
        }
      }
    }
  }

  .SelfPacedTrainingBg {
    background: none;
  }
  .InstructorLedTrainingBg {
    background: none;
  }

  html[data-theme="dark"] .SelfPacedTrainingBg {
    background: none;
  }

  html[data-theme="dark"] .InstructorLedTrainingBg {
    background: none;
  }

  .iltimg {
    display: block;
    width: 100% !important;
    opacity: 1 !important;
  }
  .sptimg {
    display: block;
    width: 100% !important;
    opacity: 1 !important;
  }
}

@media screen and (max-width: 980px) {
  .linkBack {
    margin-top: 40px;
  }

  .btns {
    flex-wrap: wrap;

    .certBtn,
    .InstLedTrainBtn {
      width: 330px;
    }
  }
}

@media screen and (max-width: 599px) {
  /* for mobile */
  .university,
  .certificationsCI,
  .certificationsCD,
  .certificationsFF,
  .certificationsCCM,
  .certificationsSRM,
  .certificationsSTO,
  .certificationsCE,
  .certificationsSEI,
  .certificationsIDP,
  .certificationsPlatform {
    padding: 10px;
    background: none;

    .linkBack {
      margin-top: 80px;
    }

    .hero {
      .right {
        background: url(/img/cert_harness_bg.svg) no-repeat;
        background-position: center;
        background-size: cover;

        img {
          width: 25%;
          height: auto;
        }
      }
    }

    .btns {
      flex-direction: column;

      .certBtn,
      .InstLedTrainBtn {
        width: 330px;
      }
    }

    .tabs {
      margin-top: 20px;

      .listTabItems li {
        padding: 4px 8px !important;
        font-size: 12px;
      }

      .certCard {
        .certCardContainer {
          flex-direction: column;
          justify-content: center;

          .left {
            flex-basis: unset;
            min-width: unset;
          }

          .right {
            margin-top: 24px;
            flex-basis: unset;
            min-width: unset;
          }
        }
      }
    }

    :global {
      .markdown h1:first-child {
        --ifm-h1-font-size: 2rem;
      }
    }
  }

  .certificationsCI {
    .hero {
      .right {
        background-image: url(/img/cert_ci_bg.svg);
      }
    }
  }

  .certificationsCD {
    .hero {
      .right {
        background-image: url(/img/cert_cd_bg.svg);
      }
    }
  }

  .certificationsFF {
    .hero {
      .right {
        background-image: url(/img/cert_ff_bg.svg);
      }
    }
  }

  .certificationsCCM {
    .hero {
      .right {
        background-image: url(/img/cert_ccm_bg.svg);
      }
    }
  }

  .certificationsSTO {
    .hero {
      .right {
        background-image: url(/img/cert_sto_bg.svg);
      }
    }
  }

  .certificationsIDP {
    .hero {
      .right {
        background-image: url(/img/cert_idp_bg.svg);
      }
    }
  }

  .certificationsSEI {
    .hero {
      .right {
        background-image: url(/img/cert_sei_bg.svg);
      }
    }
  }

  .certificationsCE {
    .hero {
      .right {
        background-image: url(/img/cert_ce_bg.svg);
      }
    }
  }

  .hero {
    .SelfPacedTrainingBg {
      background-image: none !important;
    }
    .InstructorLedTrainingBg {
      background-image: none !important;
    }
  }
}

@media screen and (max-width: 393px) {
  /* for mobile */
  .university,
  .certificationsCI,
  .certificationsCD,
  .certificationsFF,
  .certificationsCCM,
  .certificationsSRM,
  .certificationsSTO,
  .certificationsCE,
  .certificationsSEI,
  .certificationsIDP,
  .certificationsPlatform {
    background: none;
    padding: 10px;

    .hero {
      .right {
        background: url(/img/cert_harness_bg.svg) no-repeat;
        background-position: center;
        background-size: cover;

        img {
          width: 25%;
          height: auto;
        }
      }
    }

    .tabs {
      margin-top: 10px;

      .listTabItems {
        li {
          padding: 4px 8px !important;
          font-size: 12px;
        }
      }

      .certCard {
        .certCardContainer {
          justify-content: center;

          .right {
            .btnContainer {
              flex-direction: column;
              gap: 24px;
              justify-content: center;
              align-items: center;
            }
          }
        }
      }
    }
  }

  .certificationsCI,
  .certificationsCD,
  .certificationsFF,
  .certificationsCCM,
  .certificationsSRM,
  .certificationsSTO,
  .certificationsCE,
  .certificationsSEI,
  .certificationsIDP,
  .certificationsPlatform {
    .certDesc {
      .certCard {
        .certCardContainer {
          .btnContainer {
            margin-top: 32px;
            flex-direction: column;
            gap: 18px;
            align-items: center;
          }
        }
      }
    }
  }

  .examDetails {
    .examDetailsCard {
      .btnContainer {
        margin-top: 32px;
        flex-direction: column;
        gap: 18px;
        align-items: center;
      }
    }
  }

  .certificationsCI {
    .hero {
      .right {
        background-image: url(/img/cert_ci_bg.svg);
      }
    }
  }

  .certificationsCD {
    .hero {
      .right {
        background-image: url(/img/cert_cd_bg.svg);
      }
    }
  }

  .certificationsFF {
    .hero {
      .right {
        background-image: url(/img/cert_ff_bg.svg);
      }
    }
  }

  .certificationsCCM {
    .hero {
      .right {
        background-image: url(/img/cert_ccm_bg.svg);
      }
    }
  }

  .certificationsSEI {
    .hero {
      .right {
        background-image: url(/img/cert_sei_bg.svg);
      }
    }
  }

  .certificationsIDP {
    .hero {
      .right {
        background-image: url(/img/cert_idp_bg.svg);
      }
    }
  }

  .certificationsSTO {
    .hero {
      .right {
        background-image: url(/img/cert_sto_bg.svg);
      }
    }
  }

  .certificationsCE {
    .hero {
      .right {
        background-image: url(/img/cert_ce_bg.svg);
      }
    }
  }
}
